[2017-08-31 07:56] alexbilbie opened #1 "README suggestion"
After some experimentation I've been able to successfully integrate this into my application, thank you!

After the "Configuration" section and before the "Capture" section in the README's Quick Start can I recommend adding a simple example of how to start a segment and subsegment for those developers who aren't working with HTTPS based services:

[code]

[2017-08-31 16:35] alexbilbie opened #4 "DynamoDB table information and other meta not set"
I'm seeing `aws` metadata in segments however the `table_name` and other properties aren't being set:

[code]

I'm following the guidance in this repos' README whereby calls to DynamoDB use the `WithContext` variation of the `GetItem` method.

 I'm not sure if this is a problem with this library or with the AWS Golang SDK.

[2017-08-31 19:26] jamesdbowman commented on #4
Thanks for reporting this bug @alexbilbie. We've released version 0.9.2 to address this issue.

[2017-08-31 19:26] #4 closed

[2017-09-01 08:47] DaveBlooman opened #5 "Custom Subsegment options"
The current subsegment option is fine if you want to wrap you function inside xray and not return data.  If you do, you'll have to scope the data outside the xray wrapper.  Can I suggest a simpler subsegment record be introduced that allows for a function name to passed and perhaps annotations.  A use case maybe reading data from a file and unmarshalling JSON, then processing that data.

[2017-09-03 23:47] dlsniper opened #8 "Support sqlx package"
Hi,

Thank you for creating this.

I would like to request adding support for ` github.com/jmoiron/sqlx ` in addition to ` database/sql `.
I'd be happy to provide the implementation if you'd be ok with it.
Looking forward for your reply.

[2017-09-04 00:11] dlsniper commented on #5
I think that the current way to of how ` xray.Capture ` and ` xray.CaptureAsync ` works shows that maybe those functions shouldn't be provided. The interface is rather awkward to use and I think the example in #1 shows that it can be done a lot better.

[2017-09-04 21:02] NZKoz opened #10 "Traced http.Client should allow requests without a segment to proceed"
I'm currently migrating from our own home-grown (and less featured) xray sdk to the official one, and have hit a slightly annoying limitation.  We had an http.Client that was *mostly* used for inline requests, but also would occasionally be provided with an out of context request.  Those out of context requests all failed with [this error](https://github.com/aws/aws-xray-sdk-go/blob/6db6b3f2eca9a1

[2017-09-05 07:06] cep21 opened #11 "Remove package global state"
Hi,

I understand this is currently just in beta.  Are you open to rethinking the API?  I work at twitch, and forked a similar library to remove package global state.  You can read more about package global state at https://dave.cheney.net/2017/06/11/go-without-package-scoped-variables or https://peter.bourgon.org/blog/2017/06/09/theory-of-modern-go.html

I worry the library, currently designed, f

[2017-09-05 16:31] lsuss opened #12 "StreamingStrategy documentation missing"
I'm doing some experiments with this sdk and found out that StreamingStrategy isn't documented yet.

Hard to understand what this is for (stream subsegment I guess) and if it is supported yet (returning true for RequiresStreaming doesn't seems to stream anything).

[2017-09-05 19:40] itsjamie opened #13 "Restore *sql.DB compliance for Go 1.8+"
The method signature for xray.DB for Go 1.8 seems like it should implement the context methods the same as database/sql to make it easy to interop with other packages, currently, the context is passed to the Exec/Query/QueryRow functions and not their {*}Context versions.

[2017-09-05 20:05] itsjamie commented on #13
For example, #8 that is around support for sqlx, one solution here would be by simply changing the implementation for Go 1.8+ to be a drop-in replacement for database/sql, so Exec, Begin, etc would all be changed backed to their default method signatures, and if used would not provide any tracing information.

Personally, I'd prefer to keep drop-in support and allow to use all the existing tools t

[2017-09-06 14:55] itsjamie commented on #8
Hello @dlsniper, rather than adding support for the direct `sqlx.DB` type, what about changing this so it that it will accept an interface that `sql.DB` sastifies?

I've referenced #13 here, but I was thinking that if context is necessary, since Go is only supporting Go 1.8, Go 1.9 with the release of 1.9, for a new library it seems like it could only support back to Go 1.8.

Of course, AWS employ

[2017-09-06 15:03] itsjamie opened #14 "Support for RFC to golang project for sqltrace subpackage."
I believe that the `httptrace` API for the HTTP client is very helpful for building various tools, not just tracing related and that a `sqltrace` package would have a similar effect.

I've started a google-groups thread at https://groups.google.com/forum/#!topic/golang-sql/nGh4Qn5KxCA where @kardianos ran through a lot of the work for Go 1.8 and Go 1.9 database/sql changes looking for any conversa

[2017-09-06 15:20] dblooman opened #15 "logging library"
The logging library used in this SDK is pretty terrible.  I would to use a custom logger or at least have something that isn't using inline XML configuration, its 2017.

[2017-09-06 17:41] luluzhao commented on #15
Hi Dave, Thank you for using xray Go SDK and I would like to hear why you think the logging library is bad? Is it only the configuration bothering you?

[2017-09-06 18:48] cep21 commented on #15
The use of global mutable state is one concern I have.

[2017-09-06 21:13] dlsniper commented on #8
As far as I'm aware there is no interface for ` database/sql.*DB `.
And that would not be possible to begin with since there are methods on ` sqlx.*DB ` that are not present on ` sql.*DB `.

[2017-09-06 21:18] itsjamie commented on #8
Correct, there isn't an interface already defined for the `database/sql.*DB` package, however, this package could be changed to accept an interface that "database/sql.*DB" and sqlx.DB both implemented.

Since sqlx.DB is a superset of functionality on top of the existing package, similar to how this library is built now, I believe that a sqlx.DB could be passed if an interface was defined here.

[2017-09-06 21:48] itsjamie commented on #8
For example, https://play.golang.org/p/Giy1lbE1W3

[2017-09-06 22:06] itsjamie commented on #8
The real issue with that approach would be that this library currently isn't a drop-in replacement for database/sql like sqlx because of the < Go 1.8 support, the type signatures for most of the calls are different to require contexts.

[2017-09-06 22:20] luluzhao commented on #5
Hi @DaveBlooman , thank you for reaching out to us. This is way we designed for Capture and CaptureAsync method and like @dlsniper said, you can use CreateSegment or CreateSubsegment method which do not require a function if that can help your case.

[2017-09-06 22:24] dlsniper commented on #8
The official support for Go < 1.8 has ended as soon as Go 1.9 arrived. As such, when this library hits 1.0 I don't see any reason on why this shouldn't support Go 1.8+.

The problem with the interface approach is that if anything changes and a function is added, this package is then forced to break compatibility.

I'm working to show a different way to solve this, will take me a bit longer.

[2017-09-06 22:46] itsjamie commented on #8
One approach I was considering was creating a proposal for a `sqltrace` package similar to `httptrace` for the stdlib.

https://groups.google.com/forum/#!topic/golang-sql/nGh4Qn5KxCA

I put it in the same google group that kardinos created for the Go 1.8 context additions to database/sql.

[2017-09-06 22:46] luluzhao commented on #12
Hi @lsuss , thank you for reaching out to us. Have you checked our public documentation for Go? Here I attached the link: http://docs.aws.amazon.com/xray/latest/devguide/xray-sdk-go-configuration.html . Let me know if you have any comments on this.

[2017-09-06 23:12] dlsniper commented on #15
@luluzhao probably the best way to solve this would be to allow users to inject an ` io.Writer ` implementation for a custom logger.

I've almost finished a refactoring to do so, but it's pretty big. In it also gets a bit into the other issue #11 due to how it works.

[2017-09-07 07:27] lsuss commented on #12
Thank you for response. I didn't saw it in the documentation at first sight, my bad :(.

Little comment: There is no mention of "StreamCompletedSubsegments".

[2017-09-07 07:27] #12 closed

[2017-09-07 07:57] lsuss opened #16 "Feature request: "Facade" Segment"
Hi,

In my use-case I need to create a "facade" segment to mimic an existing Segment and send subsegment (and only subsegment) to X-Ray.
There is an equivalent in the nodejs package [aws-cray-sdk-core](https://www.npmjs.com/package/aws-xray-sdk-core)

[code]

[2017-09-07 18:48] luluzhao commented on #16
@lsuss , thank you for reaching out to us. Unfortunately, we haven't implemented similar method in our Go SDK so far. However, we gonna start writing the method and will be added into upcoming release. I will let you know about it when it released.

[2017-09-08 18:07] luluzhao commented on #1
@alexbilbie , we released a new version of SDK which contains your suggestions. Thank you for your suggestion.

[2017-09-08 18:07] #1 closed

[2017-09-08 18:09] luluzhao commented on #10
@NZKoz we released version 0.9.4 which gonna solve your problem. Feel free to pull the newest release version of our SDK and tell us if it still haven't solved your problem. If it works good. Could you please close this issue? Thank you.

[2017-09-11 00:56] NZKoz commented on #10
I'll try it today

[2017-09-11 09:45] lsuss commented on #16
@luluzhao thank you for your response. Good to hear it's a work in progress. I would be happy to help by testing it as soon as you make it available :+1:

[2017-09-13 19:25] ivancevich opened #18 "Getting "segment cannot be found" when using xray.Client"
Hi there,
I'm trying to use `xray.Client` instead of `http.DefaultClient` for calling 3rd party services. I'm getting an error such as `panic: failed to begin subsegment named 'api.github.com': segment cannot be found.` when doing so.
Am I doing something wrong?
Thank you in advance!

[2017-09-13 19:35] luluzhao commented on #18
@ivancevich, the error message means there is no segment found when trying to create subsegment for it. Are you only using xray.Client API? You can manually create a segment by using xray.BeginSegment and pass corresponding returned ctx to ctxhttp.Get(ctx, xray.Client(nil), "https://aws.amazon.com/") like the example in README. Tell me if it's worked or not. If not, please tell me more how you imp

[2017-09-13 19:39] ivancevich commented on #18
@luluzhao I'm trying to set the `xray.Client` to be used by other libraries, such as this Facebook client github.com/huandu/facebook.
I'm doing something like this: `facebook.SetHttpClient(xray.Client(nil))`. But now that I know it requires a context, I'm not sure if this could work.

[2017-09-14 11:40] DaveBlooman opened #19 "SQL Usage"
The SQL wrapper is really great, especially when used with a normal web app.  When you are doing a job that is not based on a http request, the usage becomes a little more complex.

The readme is slightly incorrect, it should have a context object passed into the query.

[code]

This calls capture, which is a new subsegment, but that assumes you have an existing segment.  It will panic.

I found t

[2017-09-14 20:47] luluzhao commented on #19
@DaveBlooman , thank you for pointing out the incorrect readme session and we gonna fix it by next release. For SQL methods, we don't support create one if no segment present for now. Customer needs to create a segment or using Handler function to create one and pass the context to SQL method. If we support "create one if not present" case, it gonna be some problems i,e, what we gonna name the seg

[2017-09-18 15:48] DaveBlooman opened #20 "Subsegments from existing traceID"
I have a situation where i'm a downstream application, I want to pass the traceID from my C# application to the Go app.

Looking at the SDK, this doesn't seem possible as subsegment has parent non exported.  Unless i've missed something, is there a way of generating a new subsegment from an existing traceID?

[2017-09-18 19:49] #5 closed

[2017-09-18 22:14] luluzhao commented on #20
Hi @DaveBlooman, in this situation, assuming you have included the Go X-Ray SDK with your Go application or micro-service, the Go SDK can generate a new segment for your downstream application. Generally we recommend that each sub-application or micro-service generate a full segment, with subsegments being reserved for sub-system/SDK calls within the sub-application. The Go application will then a

[2017-09-25 13:30] DaveBlooman commented on #20
In the end, I used `BeginSegment` and set the parent_id

[2017-09-25 13:30] #20 closed

[2017-09-25 13:40] DaveBlooman commented on #15
I'm using Apex for lambda functions using Go.  Apex requires the default output for logging to be STDERR, not STDOUT.  It appears that you are setting the console write explicitly.  I would be good to have some control over the type of output, to disable it completely would useful during testing.

If we could either remove this library and replace it with something more customisable, or just use t

[2017-09-25 14:04] sthulb commented on #15
I guess ideally, the SDK would accept an interface for logging, or use the standard "log" pkg if none is specified

[2017-09-26 10:48] #19 closed

[2017-09-27 10:42] rantav commented on #15
FWIW, as a temporary workaround I wrote the following function, which simply shuts the logger up.

[code]

[2017-09-29 08:51] vincent6767 commented on #18
Any update here?

[2017-09-29 12:17] skatsuta opened #22 "Return Context from xray.Handler"
To capture incoming requests, we use `xray.Handler` to wrap HTTP Handler.
However, since `xray.Handler` does not return inner `Context`,  we need to create another segment using another `Context` to capture other external calls in the wrapped handler.
As a result, segments generated in the handler are separated from request segments, which is not useful to trace each request-to-response flow.

If

[2017-10-07 01:37] tmaiaroto opened #24 "Supported Go version in readme"
Just a quick note. I don't think this is compatible with Go 1.7.x

I was using 1.7.4 and saw this error:
[code]

Updated to latest stable 1.9.1 and the errors went away.

[2017-10-07 07:22] tmaiaroto commented on #18
Not working for me either. I've tried about a dozen different ways following the README. Trying to set the RoundTripper for accessing S3 using Minio. https://docs.minio.io/docs/golang-client-api-reference#SetCustomTransport

[2017-10-09 18:58] luluzhao commented on #18
@ivancevich , I looked at this library `github.com/huandu/facebook`. There is a section at the end of `README` named `Control timeout and cancelation with Context`. By passing a context which contains a segment in your method, a subsegment will be generated automatically.

[2017-10-09 19:06] luluzhao commented on #18
@tmaiaroto , thank you for reaching out to us. Could you tell me more details about your implementation? Like I said in my first comment, have you provide a context which contains a segment and a xray client into your method?

[2017-10-09 19:24] luluzhao commented on #24
@tmaiaroto , thank you for reaching out to us. We checked the golang `httptrace` library and the `TLSHandshakeStart` and `TLSHandshakeDone` functions are only available for Go 1.8+. This is the cause of your problem, since you were using Go 1.7.4. If you want to trace information for `TLSHandshakeStart` and `TLSHandshakeDone`, please update your current Go version.

If you are required to use Go 1

[2017-10-09 22:08] luluzhao commented on #22
@skatsuta , thank you for reaching out to us. I read your issue and the current `xray.hander` method can solve your problem without returning a `Context`. Here I provide an example.

[code]
As the example above indicates, you can create a new subsegment inside the request segment in the wrapped handler by calling `r.Context` since it returns a `Context`. Let me know whether it works for your imple

[2017-10-14 15:36] fabianfett opened #25 "Use of custom header parsing and creating in xray/handler.go instead of using header.Header"
Hi,

I am relatively new to GO, coming from Node.js. Currently I'm trying to implement xray tracing for grpc (building client and server interceptors). Therefore I had a deep look into the http handler. As I said I am new to GO so I may be completely lost but this looks fishy to me:

[code]

[code]

Why is there a custom parsing method for the Header? There already is a header package with a `head

[2017-10-14 15:47] fabianfett commented on #25
Digging deeper; The method call `NewSegmentFromHeader` already takes care of quite an amount of the current code. But `seg.RequestWasTraced = true` is missing? Does this need to be added?

[code]

[2017-10-14 16:01] fabianfett opened #26 "No way to access the current Config"
As far as I can see there is currently no way to access the current `Config` object. `privateCfg` is of course `private` and `Configure(c Config)` sets the private state. But there is no way to read the config. This is needed for implementing custom incoming handlers in which we need decide the sampling strategy based on `samplingStrategy sampling.Strategy`.

Thanks so much for your help and consi

[2017-10-14 19:43] fabianfett opened #27 "What's the official way of tracing messages in sqs"
Hi,

is there an official way that we should use to trace messages that are processed asynchronously in sqs? For example:

1.) request comes in triggers a task in sqs
2.) worker service get's message from sqs and processes the message.

My simple solution would be to build some kind of sender, that wraps the sqs functionality and attaches a tracing header to every sqs message in the MessageAttribu

[2017-10-18 18:58] luluzhao commented on #25
@fabianfett , thank you for pointing this out to us. We will start working on refactoring our code and there will be no functional behavior change of SDK.

[2017-11-02 10:45] rvdwijngaard opened #28 "echo Middleware"
Hi,

Do you have any plans to support popular web frameworks like  [labstack echo](https://github.com/labstack/echo) ?

[2017-11-04 19:03] mikkergimenez opened #29 "Use of internal package not allowed"
When I try to test or run my app, I get the following error:

../../../github.com/awslabs/aws-xray-sdk-go/xray/segment.go:19:2: use of internal package not allowed

[2017-11-09 19:19] luluzhao commented on #29
@mikkergimenez, thank you for reaching out to us about your question. Could you tell me more how you instrument X-Ray Go SDK to your application? It seems like your provided example is similar to what we wrote in README and I was unable to reproduce your issue.

[2017-11-10 16:05] mikkergimenez commented on #29
Hello luluzhao,
  I believe this is related to the following line

https://github.com/aws/aws-xray-sdk-go/blob/master/xray/segment.go#L19

As go 1.4 seems to have added a rule about importing packages with the name internal:

https://stackoverflow.com/questions/41571946/internal-packages-in-go
https://golang.org/doc/go1.4#internalpackages

I'm not sure why others aren't experiencing this.  My addi

[2017-11-14 22:02] itmeze commented on #18
I am having similar issue. Such an example:
[code]
panics with 'failed to begin subsegment named 'aws.amazon.com': segment cannot be found.'

[2017-11-15 00:14] luluzhao commented on #10
@NZKoz , have you tried our new version of X-Ray Go SDK? I am going to close this issue since it haven't been updated for about one month. Feel free to reopen it if it's not working for your application. Thank you.

[2017-11-15 00:14] #10 closed

[2017-11-15 18:07] itmeze commented on #18
Okay, in my case updating "golang.org/x/net/context/ctxhttp" seems to resolve problem.
[code]
I hope that helps others...

[2017-11-16 00:31] luluzhao commented on #18
@itmeze , thank you for updating this thread. Could you tell me which version of `golang.org/x/net/context/ctxhttp` that was not working?

[2017-11-16 00:33] luluzhao commented on #22
@skatsuta , I am going to close this issue since it hasn't been updated more than 1 month. Feel free to reopen it or create a new one if you have any problems.

[2017-11-16 00:33] #22 closed

[2017-11-16 08:16] itmeze commented on #18
@luluzhao i was using rev c4c3ea71919de159c9e246d7be66deb7f0a39a58
As you can see, at the time there was no request.Context() so obviously this would fail https://github.com/golang/net/blob/c4c3ea71919de159c9e246d7be66deb7f0a39a58/context/ctxhttp/ctxhttp.go#L49

[2017-11-21 08:15] tobowers commented on #18
so how do we work with libraries that don't automatically use the WithContext methods?

[2017-11-22 21:58] luluzhao commented on #29
@mikkergimenez , could you tell me which go version are you currently using?

[2017-11-22 22:03] luluzhao commented on #27
@fabianfett , thank you for reaching out to us about your ideas. Currently we are working on this feature in Java SDK and probably is going to release it soon. In our implementation, we will attach a tracing header into every sqs message's attribute like you mentioned above. After we release the feature for SQS, we may start thinking about implement similar thing in SNS.

[2017-11-22 22:03] #27 closed

[2017-11-22 23:18] haotianw465 commented on #28
Thanks for your feedback. We will look into this and we're planning on support more libraries and web frameworks in the next calendar year. Please stay tuned.

[2017-11-30 20:47] luluzhao commented on #18
@tobowers , we inject segment information into context to keep track of customer's application activities. In order to use our Go SDK properly, it has to use WithContext methods.

[2017-12-11 13:11] rvdwijngaard commented on #26
any update on this?

[2017-12-11 20:34] luluzhao commented on #26
@rvdwijngaard , thank you for reaching out to us. Currently this code change is under code review and it will be released when X-Ray Go SDK goes GA.

[2017-12-12 05:36] zkanda opened #31 "Integration with opentracing?"
Is there a plan to integrate it with some vendor neutral like opentracing?

[2017-12-14 22:02] abhiksingh commented on #31
@zkanda could you please provide more information on what you're hoping to achieve with OpenTracing integration?

The reason I ask is that today OpenTracing simply defines an instrumentation API and doesn't define a context (trace ID, parent ID, etc.) or backend data format. This implies that in theory the instrumentation library could be swapped between vendors and everything should still work as

[2018-01-16 08:52] nightlyone commented on #31
It might help adoption to at least support the Opentracing terminology (namely spans instead of segments) and keep the api compatible in terms of span generation and propagation. But this might need to be discussed at a cross language level at Amazon.

[2018-01-18 23:32] Kaidence commented on #11
Hi! I'd like to echo cep21's concerns. We'd love to be on the main x-ray library, though. Is this something your team is actively working on? Do you accept PRs?

[2018-01-18 23:37] luluzhao commented on #11
@Kaidence , we are working on it right now and hopefully it will be released soon. We do accept PRs and feel free send it. Thank you.

[2018-01-22 01:23] tonyghita opened #34 "Add benchmarks"
Before I can use AWS X-Ray in my high-throughput service, I need to have some expectation of how it will affect performance. It would be great to start writing benchmarks alongside the tests to get a baseline of CPU and heap usage.

[2018-01-24 18:00] elan-sg opened #35 "data race in concurrent calls to BeginSubsegment"
I think https://github.com/aws/aws-xray-sdk-go/blob/master/xray/segment.go#L183-L184 need to go inside the locks?

[2018-01-24 23:17] luluzhao commented on #35
@elan-sg , thank you for reaching out to us. Yes, these two lines may cause a potential data rate. I will fix this one in our next release. Thank you.

[2018-01-25 21:49] haotianw465 commented on #34
Thank you for the feedback. We will look into writing benchmark tests.

The overhead of X-Ray might vary based on your sampling rate. But in general, the overhead of running X-Ray is similar to logging. We have multiple customers using X-Ray Go SDK and recording millions of requests each month without any performance issues.

[2018-01-28 08:33] sunilmaiya opened #36 "error on aws codestar build of aws-xray"
[Container] 2018/01/28 08:13:25 Running command go get -u github.com/aws/aws-xray-sdk-go/...
# github.com/aws/aws-xray-sdk-go/xray
../github.com/aws/aws-xray-sdk-go/xray/httptrace.go:199: unknown httptrace.ClientTrace field 'TLSHandshakeStart' in struct literal
../github.com/aws/aws-xray-sdk-go/xray/httptrace.go:202: unknown httptrace.ClientTrace field 'TLSHandshakeDone' in struct literal

Is ther

[2018-01-29 19:31] luluzhao commented on #36
@sunilmaiya , thank you for reaching out to us. Could you tell me how did you get this error message? Is just running "go get" or you are trying to create a segment? What is more, could you help me to check which version of Go you are currently using?

[2018-01-29 21:19] uded opened #37 "Versioning with Glide causing issues"
It seems that the current [`glide.yaml`](/aws/aws-xray-sdk-go/blob/master/glide.yaml) is listing all dependencies without ranges. Which, in general, is absolutely acceptable. On the other hand, it creates a problem with cyclic, infinite combining of semver for dependency in a project which will try to use latest dependency of, for example, [AWS SDK for GO](https://github.com/aws/aws-sdk-go), curre

[2018-01-29 23:52] luluzhao commented on #37
@uded , thank you so much for reaching out to us. I understand your concern regarding the dependency. We should check the compatibility between our code and dependencies. I will add a range in version field and you will be able to see it in next release. The reason we didn't list the version range previously is that this is minor version update not major version which means there is no API level o

[2018-01-30 02:20] sunilmaiya commented on #36
I am getting this error during codestar build, when the yml file gets parsed for dependency installation.
I don't get this error during local installation of the package.

[2018-01-30 14:09] dlsniper opened #38 "Do not use init() in ec2 and ecs packages"
Adding the following two imports to my application:

[code]

will make it take up to 10 seconds to timeout before it can continue loading when I'm working on my local machine and not in an EC2 or ECS instance.

I would like to argue for removing the implicit behaviour those two imports have and manually adding an idempotent ` Init() ` function on each package which will allow users to call those f

[2018-01-30 14:35] dlsniper opened #39 "Tests have issues when running with -count=2"
I've noticed this while trying to fix #38 with ` master @ a53963a5ff9b8e55fe62e8f2f14afd6e40dcb627 `.

When running with a single, default run, we get the following output:
[code]

Unfortunately, when running with ` -count=2 `, we get:

[code]

This makes me think that the tests are not very well isolated from each-other which makes it hard to reliably test changes, like the one I have for #38. I'

[2018-01-30 22:53] luluzhao commented on #38
@dlsniper , thank you so much for reaching out to us regarding your issues. These plugins are only for customers who are using ec2, ecs or elastic beanstalk environment for their application. If you are working on your local machine, you don't need to import these plugins. The reason we use import mechanism is that it is very easy and convenient to use. Customers only need to import packages rathe

[2018-01-30 23:00] luluzhao commented on #16
@lsuss , in our new released version `v1.0.0-rc.1`, we support the method for creating an facade segment and the method called `BeginFacadeSegment`. We'd like you to try it and let me know if you any questions. Thank you for your patience.

[2018-01-30 23:00] #16 closed

[2018-01-30 23:09] luluzhao commented on #36
@sunilmaiya , `TLSHandshakeStart` and `TLSHandshakeDone` functions are only available for Go 1.8+. This should be the cause of your problem. Could you check the Go version when you are using codestar?

[2018-01-30 23:40] jamesdbowman commented on #38
Agreed with @luluzhao that we should keep the convenience afforded by the implicit `init`ialization of these plugins. This change would also be backwards incompatible - making me less inclined to merge in.

What if, however, we added an additional set of plugins, `*_explicit` or similar naming, for which the explicit `Init` functions as modified here were enabled. @dlsniper would you be open to mo

[2018-01-31 10:43] dlsniper commented on #38
First of all, thank you both for the quick reply.

From the responses I see that the description of the issue was not as clear as it should have been so I'll address these points below.

Agreed.

This means that while I work on my machine, or run this in a system that's not part of AWS, I need to remember to compile the binaries without including these "plugins".
Now, I can do this in two ways:
-

[2018-01-31 17:18] tonyghita commented on #38
My team had to do a similar workaround as @dlsniper described. The implicit behavior is very surprising to new users of this library, and I would say un-idiomatic in Go.

It would be better if the use of those packages was made explicit, rather than relying on implicit `init` behavior.

[2018-02-01 00:43] luluzhao commented on #39
@dlsniper , thank you for pointing out this issue. We are working on it right now. Will get back to you we the fix is ready.

[2018-02-01 02:24] snikch opened #41 "deferred func acts on nil segment"
Without adding tracing to a request, we're running into a nil pointer issue with this code. Basically it's in an if statement that has confirmed the `seg` var is nil, and then it tries to access its properties.

https://github.com/aws/aws-xray-sdk-go/blob/master/xray/capture.go#L26

[2018-02-01 19:53] luluzhao commented on #41
@snikch , thank you so much for reaching out to us. Could you give me more information regarding your issue? I want to reproduce it to see what happened. What's more, have you seen panic in your code? What is the message?

[2018-02-02 00:47] tonyghita commented on #34
Is there any way to sample only "slower than normal" or requests that have errors?

I have a fairly high throughput service (1M+ segments per second, unsampled), but I only care to sample on requests in a bad state. I already have an idea of how requests execute in my system in the best case, but I'm interested in learning the failure cases of the system via tracing.

[2018-02-03 00:04] luluzhao commented on #41
@snikch , I agree with you that the issue happened because of if else block. We should give a better error message to address the real problem. We will add this issue into our backlog to fix it.

[2018-02-03 19:51] nzoschke commented on #16
This is working perfectly for me. Thank you!

[2018-02-03 20:06] nzoschke opened #42 "No KMS traces"
I'm not seeing KMS service calls in my traces, despite wrapping the KMS client with `xray.AWS()`.

I noticed the SDK has a whitelist that does not include KMS. Is it up to me to add KMS, etc to a custom whitelist in my code? Would you consider adding it to the default whitelist?

[2018-02-05 17:43] awssandra commented on #42
Hi nzoschke,

The default whitelist defines the call parameters to capture from AWS API calls, as some parameters may contain sensitive data. The calls themselves (service, time, API) should always be recorded.

Can you tell me which version you're using and provide a small snippet so we can try and reproduce the issue on our end?

Thank you!
Sandra

[2018-02-06 01:01] haotianw465 commented on #34
The way sampling configuration could save overhead is because if the SDK decides to not sample a segment, it will create a dummy object where almost all the setter-like methods and sequential subsegments recording effectively become no-op. Also if you have expensive (relative to your core business logic) annotations/metadata generation code, you can decide to not execute them if the current segmen

[2018-02-06 15:41] tonyghita commented on #34
Thank you for the response.

These are insights I already get from metrics (eg. Statsd -> Graphite or Prometheus). What I'm looking for in a tracing product is insights into how my distributed system works in failure cases.

We're getting a little off-topic from the posted issue. As a maintainer of a high-throughput service, I have two problems:

1. __Impacted service performance due to amount of

[2018-02-07 21:32] raymolin commented on #35
For visibility, similar issue here https://github.com/aws/aws-xray-sdk-go/blob/master/xray/segment.go#L70-L80.

When a context gets cancelled, there is a data race between the Close method and the snippet linked.

[2018-02-08 07:31] nzoschke commented on #42
I'm using 1.0.0-rc.1. Here's a snippet:

[code]

[2018-02-09 20:21] docmerlin commented on #38
I agree, implicit loading (like from db/sql) is fine, but implicit reaching out for things that can take a while is a bad idea and means you can't do stuff dynamically.

[2018-02-12 22:16] awssandra commented on #42
Hi nzoschke,

I have been unable to reproduce the issue. Here's the KMS subsegment generated:
[code]
Here's the (modified) code I used:
[code]
In the original code, I did not see how you were accessing the ctx for the KMS().EncryptWithContext call. Here I'm just pulling it off the request object (r.Context()) and passing it in.

If you set LogLevel to "trace" and post the results here, I'd like to

[2018-02-20 19:33] jamesdbowman commented on #38
Hi @dlsniper,

We are open to making the change in the manner you suggest, adding new plugins as a transition measure and deprecating old ones, and removing the old plugins entirely upon release of `1.0`.

We believe that the new plugins should permanently reside under new package names, as the backwards-incompatibility of this change will not be immediately visible to consumers. Directly changing

[2018-02-21 18:56] awssandra commented on #42
Closing this at the moment - comment and I can reopen if any further issues are seen.

[2018-02-21 18:56] #42 closed

[2018-02-27 18:24] nzoschke commented on #42
Sorry for the delay, but I finally reviewed my code and do see KMS traces. Sorry for the false alarm and thanks for looking into it.

[2018-03-13 22:42] tskinn commented on #29
Might want to check this issue out: https://github.com/aws/aws-sdk-go/issues/340

[2018-03-14 13:35] alexbilbie commented on #37
@luluzhao do you have an updated timeframe when you might be able to resolve this?

[2018-03-14 17:41] luluzhao commented on #37
@alexbilbie , thank you for your patience. Unfortunately, I don't have an exact timeframe for this issue since I am busy with another project right now. I will prioritize this issue in my backlog since it seems like it is not a difficult issue to fix. Sorry for this inconvenience.

[2018-03-14 18:10] alexbilbie commented on #37
Would you accept a PR?

On 14 Mar 2018, 17:41 +0000, Lulu Zhao <notifications@github.com>, wrote:

[2018-03-14 18:34] luluzhao commented on #37
@alexbilbie , yes. We'd like to accept a PR. Feel free to send out a PR and I will take a look at it. Thank you.

[2018-03-14 20:48] dgorohov commented on #41
Same for me
The problem is here: https://github.com/aws/aws-xray-sdk-go/blob/master/xray/capture.go#L21

[2018-03-19 16:22] #36 closed

[2018-03-19 16:24] #18 closed

[2018-03-21 02:57] NZKoz commented on #41
@luluzhao do you have an update for us here?  The issue we're having is that we want to instrument a bunch of core libraries so we can have calls coming into the traced HTTPClient which may or may not have segments in the context.

We're working around this at present but it's kinda messy...

[2018-03-21 08:43] rmossuk opened #46 "Lambda to lambda tracing and displayed in the service map"
I have the API Gateway that calls Lamdba function 1 and that invokes lambda function 2 in Go. I want to see these 2 functions joined in the service map.

The only way i have been able to do this so far is to create a custom segment eg called "parent" and the create a subsegment from this context eg called "child". Then using client.InvokeWithContext to invoke the function 2 passing the "child" seg

[2018-03-21 19:15] luluzhao commented on #41
@NZKoz sorry for the inconvenience. It is in our backlog and we will address it as soon as possible. If we fix this issue, I will update this thread immediately. Thank you for your patience.

[2018-03-21 21:23] luluzhao commented on #46
@rmossuk, thank you for contacting us regarding your question. I am not sure why you create "parent" segment and "child" subsegment to invoke function 2. If you have function 1's `context`, in your case, you should pass it into function 2 instead of creating segment manually by yourself.

[2018-03-22 03:50] bubenkoff opened #47 "Wrapping clients (SQS, Lambda) makes them doing nothing?"
When I wrap aws service's client with xray.AWS looks like it stops functioning normally (does no real AWS API calls), nor the xray traces are reported
I however do see the xray's tracing in the log (so i of course use WithContext versions of the calls)

[2018-03-22 18:33] luluzhao commented on #47
@bubenkoff, thank you for contacting us regarding your issue. Have you take a look at README? There is an example to show how to instrument aws service' client with xray.AWS(). You said you see the tracing in the log and I am wondering you see the exact segment SDK generated? If you saw the real segment in log file and you didn't see the service map in console, there might be a daemon issue on you

[2018-03-22 21:36] luluzhao commented on #41
@NZKoz @dgorohov @snikch , hello all, I just release v1.0.0-rc.2 for X-Ray Go SDK which contains the bug fix for this issue. Feel free to upgrade our SDK and start using it. If it works, please close this issue. Thank you.

[2018-03-23 09:45] bubenkoff commented on #47
@luluzhao I use it inside lambda, so daemon is not needed to be runnning right?

and this is the log i get:
[code]

so it looks like the problem is with the automatic daemon in lambda?
but then still, daemon is not the one who does real calls to the api's like lambda invocation, daemon only sends stats to aws xray.
So still not clear why once wrapped with xray.AWS clients stop working as they shou

[2018-03-23 15:20] rmossuk commented on #46
@luluzhao   thank you for the help so far.   I have tried that but getting an error "runtime error: invalid memory address or nil pointer dereference"

Here is what i am trying to do:

here is my function 1 handler with context

`func Handler(ctx context.Context, request events.APIGatewayProxyRequest) (events.APIGatewayProxyResponse, error) {`

And here i am trying to use that context

[code]

I g

[2018-03-27 18:55] luluzhao commented on #46
@rmossuk sorry for the late response. After looking at your latest reply, I have two questions. First, You said you have two lambda functions and you want function 1 to invoke function 2. Have you created these two lambda functions by calling `CreateFunctionWithContext`? Second. How many `Handler` you wrote in your current application?

[2018-03-27 19:14] luluzhao commented on #47
@bubenkoff sorry for misleading information in the previous reply. You are right, if you are using Lambda or Elastic Beanstalk, you don't have to install daemon and start daemon by yourself. The reason I am asking in previous reply is that you didn't mention you are using Lambda.

Could you pull the latest version of our Go SDK and run it again? We had a bug in Lambda(https://github.com/aws/aws-xr

[2018-03-28 15:41] bubenkoff commented on #47
@luluzhao thanks, will check and get back to you
about the use of xray in the `init` - I don't use it there, I mentioned cold start as I use global state to keep the aws session and aws service structs and share them between the invocations. So on first invocation, inside Handler, the services are set up.

[2018-03-28 23:57] bubenkoff commented on #47
@luluzhao
[code]
it's quite impossible to do it, as go sdk is v1.13.23 and aws-xray-sdk-go depends on github.com/aws/aws-sdk-go of 1.10.x

[2018-03-29 00:28] luluzhao commented on #47
@bubenkoff, I am sorry for misleading information in my previous reply. I said `our Go SDK` which means `AWS X-Ray Go SDK`. We did a new release recently and the version should be `v1.0.0-rc.2`.

[2018-03-29 09:06] bubenkoff commented on #47
ah ok thanks, will get back to you

On Thu, Mar 29, 2018 at 2:28 AM Lulu Zhao <notifications@github.com> wrote:

[2018-04-03 20:02] nelz9999 opened #49 "Non-HTTP use cases?"
Hi,

How might I achieve non-HTTP tracing?

My example: I have a long-running service that stands up, polls SQS for work to be done, processes the work items in parallel (interacting with other AWS services), and removes the queue items/reservations. It would be valuable to see how these SQS messages interact with the rest of our system.

[2018-04-03 21:10] awssandra commented on #49
Hi Nelz,

Do you want to trace through the SQS message from the sender, through the queue to receiver and then all the work following? Or, do you just want to start tracing on the receiving end?

[2018-04-03 21:35] nelz9999 commented on #49
Hrm... I think I'm having trouble understanding what you're getting at.

I am already tracing the service that puts messages into SQS. I would also like to trace the ins & outs of the "daemon" service that pulls those messages off the SQS Queue, and the downstream services that process interacts with.

So, yes, I would like the full end-to-end view, but that necessarily means instrumenting the "re

[2018-04-03 22:24] luluzhao commented on #49
Hello @nelz9999,

Are you trying to tell us that your "daemon" service is a non-HTTP service and you want to trace it? Is that correct? Please point out if my understanding is wrong.

Currently, our X-Ray Go SDK doesn't support an "sqs handler" to automatically trace those information for you. However, you could implement it by yourself. Based on the information you provided, the service you alrea

[2018-04-03 23:02] nelz9999 commented on #49
Yes, I do believe the "sqs receiving handler" is the crux of my question.

Looking deeper into the code, I see that the `xray.Handler(...)` starts the segments, first by pulling information from the HTTP Headers for `x-amzn-trace-id`.

So, what you're saying is that I just need to figure out where the `x-amzn-trace-id` parallel is in the SQS Message, and use that to start (and eventually end) a ne

[2018-04-03 23:08] luluzhao commented on #49
@nelz9999, yes, you are right and that is why I suggest you to inject those information into sqs message attribute so that you can get them and start a new segment.

[2018-04-03 23:53] nelz9999 commented on #49
Hrm... Okay. What I'm hearing is that there's nothing actively stopping me from tracing SQS Messages, as long as I do a bunch of the heavy lifting.

This gets back to the main question: might there be a chance that the SDK(s) get some support for doing this in a standard way, rather than via bespoke processes?

[2018-04-04 01:02] luluzhao commented on #49
@nelz9999, we will support this feature in future which will automatically trace information for customers. However, I cannot guarantee you a timeline at this point. Please stay tuned.

[2018-04-05 00:53] luluzhao commented on #24
@tmaiaroto. Thank you for your patience. We released new version `v1.0.0-rc.3` which supports Go version under 1.7.4 and above 1.7.0. X-Ray Go SDK will not crush when customer's go version is under 1.7.4.

[2018-04-05 00:53] #24 closed

[2018-04-05 00:56] luluzhao commented on #25
@fabianfett Thank you for your suggestions and we just release a new version `v1.0.0-rc.3` which refactors code to prevent repetition. Feel free to pull our new version.

[2018-04-05 00:56] #25 closed

[2018-04-05 00:58] luluzhao commented on #35
@elan-sg @raymolin We released a new version `v1.0.0-rc.3` to fix the data race condition. Thank you for your suggestions.

[2018-04-05 00:58] #35 closed

[2018-04-05 00:59] #41 closed

[2018-04-06 17:56] nelz9999 commented on #49
Cool, that's good to know.

Before I close this, I'll give you an insight into my thought process.

If I can auto-magically get tracing to work with the tiny bits of config and construction-time injection of your SDK: presto-blamo, I'm a happy camper.

But, as soon as I have to start writing custom code to support XRay, I start to think "Jeepers, it sure would be cool if y'all supported OpenTracin

[2018-04-06 17:56] #49 closed

[2018-04-06 18:31] awssandra commented on #49
Hi nelz9999,

Thank you for the feedback. We continue to reach out to the open source community to voice their issues and comments to shape our vision of X-Ray.

We are continuing to expand the X-Ray experience internally to cover these use cases, as we are fully aware the limited nature of the SDK and X-Ray integration with other AWS resources and are striving to remedy it. SQS/SNS support has be

[2018-04-08 10:07] aleist opened #50 ""segment cannot be found" in lambda function"
I'm new to X-Ray and am trying to integrate it into a Lambda function called from API Gateway as a Lambda proxy integration request. My code follows this example:

[code]

This results in the following error being logged `Error Suppressing AWS X-Ray context missing panic: failed to begin subsegment named 'dynamodb': segment cannot be found.`, which is followed by a panic `runtime error: invalid me

[2018-04-09 01:59] NZKoz commented on #8
The approach taken by elastic is to have a driver implementation which wraps the underlying drivers

https://github.com/elastic/apm-agent-go/blob/master/contrib/apmsql/driver.go#L39

This makes it much easier to inject into an application using various other DB apis.

[2018-04-09 20:07] luluzhao commented on #50
Hi @aleist, thank you for contacting us regarding your issue and I am sorry for the inconvenience. When using X-Ray SDK inside a lambda function, lambda will create a segment and X-Ray SDK will create corresponding subsegment for customer's application, which means you don't have to call `xray.BeginSegment` inside a lambda function. Here I attach an example how to use X-Ray SDK inside a lambda fun

[2018-04-09 23:07] aleist commented on #50
Thank you for your reply @luluzhao. What you write confirms my understanding of the way X-Ray functions. I am using `BatchGetItemPagesWithContext` instead of `PutItemWithContext`, but the context is passed along as required.

In case this helps, here is the part of the nil pointer dereference panic relating to the AWS or xray SDKs:

[code]

[2018-04-09 23:39] luluzhao commented on #50
@aleist, thank you so much for attaching error log message to help us debug. Yes, the nil pointer will happen at `BeginSubsegment` method. Are you still been blocked by the nil pointer issue?

[2018-04-10 00:34] luluzhao commented on #50
@aleist , thank you for your information. I will also try to reproduce your issue on my side. Could you tell me which X-Ray Go SDK version are you using?

[2018-04-10 00:37] aleist commented on #50
@luluzhao Thank you. I'm using the following SDK versions:

github.com/aws/aws-xray-sdk-go @ v0.9.4
github.com/aws/aws-sdk-go @ v1.13.30
github.com/aws/aws-lambda-go @ v1.1.0

[2018-04-10 22:28] luluzhao commented on #50
@aleist, sorry for the late reply. During the debug process, I just realized Lambda support starting from version `v1.0.0-rc.1` and you are using `v0.9.4`. So please update the X-Ray Go SDK to `v1.0.0-rc.2` since I found a bug in our latest release and fix is under code review. I am sorry for the inconvenience.

[2018-04-10 23:20] elan-sg opened #51 "goroutine leaks from beginSegment"
https://github.com/aws/aws-xray-sdk-go/blob/8d5ff7cd4d96b6e380cf7bcaf576ed1848b10b30/xray/segment.go#L70-L75

This goroutine will leak if a context without cancel is used to beginSegment, I think Segment.Close should clean this up.

[2018-04-11 00:00] aleist commented on #50
@luluzhao ah I see, my apologies for using an outdated version. I hadn't realised that there are release candidates for v1.0 available, because `dep ensure` had selected v0.9.4 instead of the RC and even `dep status` doesn't show them.

It does indeed work with rc2. Thank you very much for your help!

[2018-04-11 00:47] aleist commented on #50
@luluzhao I'm afraid I just ran into the same issue again while trying to add xray to another lambda that uses not only DynamoDB, but also SES and S3 clients. It works fine when I only pass the DynamoDB and SES clients to `xray.AWS`, but when I do the same for the S3 client, I once again get

[code]

Followed by a nil pointer dereference panic when the client is used.

[2018-04-11 01:06] luluzhao commented on #50
Hi @aleist, the usage for all aws client should be the same. S3 is not an exception for using. There must be some issues happened behind. Could you provide more information about it like code snippet?

[2018-04-11 01:47] aleist commented on #50
@luluzhao In this lambda I only use the S3 client to presign a GET request as follows:

[code]

I don't really need to trace this with xray in this particular case, as it doesn't send any S3 service requests over the network, but I'd still expect it to work with the client "xray enabled", as I may need to add an actual S3 request that does go over the network and which I would like to trace later

[2018-04-11 21:35] luluzhao commented on #50
@aleist, thank you so much for providing the details. Currently our X-Ray SDK doesn't support tracing presign a request. We only trace a really request that send over through the network. In the meantime, we should do a nil check instead of panic if it's a presign request. I will add this into our backlog.

[2018-04-12 19:26] jabalsad commented on #50
Hi @luluzhao yes to clarify, this is also inside a lambda function. I've tried `v1.0.0-rc.1`, `v1.0.0-rc.2` and `v1.0.0-rc.3` but I get the segment error inside the lambda.

[2018-04-12 19:40] luluzhao commented on #50
@jabalsad, thank you for your clarification. Based on the code you attached, why not use `client` to call `GetItemWithContext`? I don't know what is `d.client`. What is more, could you follow the example I attached in previous reply and refactor the code or you can just try with my example to see whether it is work or not.

[2018-04-12 19:49] luluzhao commented on #50
@jabalsad, I am sorry I didn't refresh the page before I replied so that I didn't see your attached example. In `GetSomething` method, it requests to pass a `context` parameter. Have you passed the Lambda function `context` into it? Like I said in the previous reply, Lambda will create and inject the segment into `context` so that our X-Ray Go SDK can use it to create corresponding subsegment.

[2018-04-12 23:51] jabalsad commented on #50
`d.client` is a DynamoDB client:

[code]

The `ctx` is one that is supplied by [aws-lambda-go](https://github.com/aws/aws-lambda-go) such as in [this example](https://github.com/aws/aws-lambda-go/blob/master/events/README_ApiGatewayEvent.md)

[2018-04-13 19:02] luluzhao commented on #50
Hi @jabalsad, based on the code snippet you attached, I failed to reproduce the issue you had because it worked on my local box. Would you mind providing all the relevant code to help us debug the issue you had? Thank you.

[2018-04-16 03:52] jabalsad commented on #50
@luluzhao I'll have to create a test package to share the code with you which may take a while. Can you provide the code you wrote to reproduce the issue in the meantime? I may be able to spot a difference between your version and mine.

[2018-04-17 17:30] awssandra commented on #47
Closing for now, please feel free to reopen if you continue to experience issues.
Thank you!

[2018-04-17 17:30] #47 closed

[2018-04-17 17:30] awssandra commented on #46
Closing for now, please feel free to reopen if you have further issues.
Thank you!

[2018-04-17 17:30] #46 closed

[2018-04-17 19:12] luluzhao commented on #50
@jabalsad , here I attached the example I tried.

[code]

[2018-04-20 23:48] rengers commented on #50
It turns out we were using a call to `d.client.GetItem(input)` I.e the call that doesn't take in a context.

I would still call this a bug though, since it causes a panic, instead of just failing to add a subsegment.

https://github.com/aws/aws-xray-sdk-go/blob/master/xray/aws.go#L56
[code]
BeginSubsegment can return `nil, nil`, which I suspect is what is happening here.

1. I don't think we shoul

[2018-04-21 15:01] kapilt opened #53 "support/document usage with aws-go-sdk-v2"
Its not really apparent how to use go xray support with v2 Clients.

[2018-04-23 01:14] NZKoz opened #54 "Traced aws client should allow requests to proceed without Segments present"
Wherever possible we try to include XRay tracing in our common wrapper libraries so that we can gradually benefit from tracing as more and more of our services and consumers start preparing segments.  This works great with the http client, however the AWS instrumentation really doesn't like being passed requests which don't have segments embedded.

Ideally the instrumentation would be sufficiently

[2018-04-23 21:40] luluzhao commented on #54
Hello @NZKoz , thank you for contacting us regarding your issue. Yes, we should check whether the segment is nil or not in `xRayBeforeValidateHandler` and this PR [52](https://github.com/aws/aws-xray-sdk-go/pull/52) should be able to fix the issue you had. Please let me know if it works or not. If the PR still doesn't work for you, feel free to attach any related code snippet from your example so

[2018-04-24 19:46] luluzhao commented on #8
Sorry for the late response. Thanks for all the suggestions and we are definitely going to consider them. This feature has been requested several times from customers and it's already in our backlog. We will prioritize our tasks and release this feature as soon as we can. Thank you for your patience and please stay tuned.

[2018-04-26 02:01] NZKoz commented on #54
@luluzhao that fixed one of the cases, but I'm guessing you need a similar fast-return from endSubsegment.

[code]

Is the new crash, the fix for that is:

[code]
If I add another nil check to endSubsegment it falls down again in NewClientTrace

[code]

With those two fixes applies it runs fine,  feel free to use those diffs if they're helpful.

[2018-04-27 17:46] luluzhao commented on #54
Hi @NZKoz , thank you for your effort in deep diving this issue and providing the related fix. We'll get this fix out as soon as possible.

[2018-05-14 21:25] NZKoz commented on #54
Any update @luluzhao, we're running with a manually managed cherry-pick of aws.go and it's slightly error prone 😄

[2018-05-15 21:18] #37 closed

[2018-05-15 21:18] luluzhao commented on #54
@NZKoz, sorry for the late reply. We just released version `v1.0.0-rc.5` which contains the fix for this issue and here is our CHANGELOG link https://github.com/aws/aws-xray-sdk-go/blob/master/CHANGELOG.md. Feel free to contact us if you encounter any issues regarding this new version. Thanks.

[2018-05-15 21:18] #54 closed

[2018-05-24 22:06] haotianw465 commented on #51
Hi,

Sorry for the late response. Thank you for reporting the issue. We are aware of this and will have a fix soon. Please stay tuned.

[2018-05-24 22:17] haotianw465 commented on #38
I believe we have a path forward here, which is to have the plugins use explicit `Init()` but under a new namespace to avoid silent breaking for existing customers. I'm closing this for now. We will leave the PR https://github.com/aws/aws-xray-sdk-go/pull/40 open and you are always welcome to make it up-to-date and we are happy to review and merge it in. But feel free to leave any comment here if

[2018-05-24 22:17] #38 closed

[2018-05-25 21:13] nbeyer opened #57 "Unable to add annotations within a lambda handler"
Given a very simple Lambda handler function like this:

`func Handler(ctx context.Context, request events.APIGatewayProxyRequest) (events.APIGatewayProxyResponse, error) {
	if err := xray.AddAnnotation(ctx, "PLEASE_WORK", "NOPE"); err != nil {
	        log.Printf("Error returned adding annotation: %v", err)
         }
        // do some work
}
`

This produces a 'unable to retrieve segment' error

[2018-05-25 21:30] haotianw465 commented on #57
You are right. The segment wrapping the entire function execution is generated by the Lambda container and it is sent separately with tracing data generated by the SDK. The SDK doesn't have access to the Lambda segment today so you will need to wrap your function code using `BeginSubsegment` if you want to add extra information within your function.

We are working with Lambda team to make the int

[2018-05-25 21:45] nbeyer commented on #57
Adding a BeginSubsegment seems to make things worse. All of the subsegments that were being produced via the other AWS clients and HTTP clients are now gone. Oddly, I have the xray sdk's logging on trace and i see my wrapper segment being started and emitted, but when i take the trace id associated with it and look it up in the console, the only segments are the two lambda segments with the origin

[2018-05-25 23:12] haotianw465 commented on #57
Hi,

Could you provide a code snippet of how you wrap your function within a subsegment so we can take a further look? Do you have any example log entry and the raw trace data?

Make sure you wrap the function using recommended syntax at https://github.com/aws/aws-xray-sdk-go under `Start a custom segment/subsegment` or `Capture` section and make sure you provide a valid subsegment name.

The simp

[2018-05-26 19:04] nbeyer commented on #57
Adding a sentinel isn't really what I want to do and I'd like to be able to add custom subsegments for other functional groupings in the code and that doesn't seem to be working. I'll work up some trimmed down code snippets to demonstrate and reduce the issue area.

In the interim, what is a "valid subsegment name"? I've not seen any documented constraints about this and the SDK isn't checking any

[2018-05-26 19:14] haotianw465 commented on #57
Thank you for the clarification. We totally understand your use case and concerns here. You can check this documentation about the schema for segments/subsegments: https://docs.aws.amazon.com/xray/latest/devguide/xray-api-segmentdocuments.html and you can output your custom subsegments and use this reference to check if there is any issue with the custom subsegment documents.

If you have a functi

[2018-05-29 15:55] nbeyer commented on #57
I'm still iterating on a smaller recreation of the issue, but I suspect it does have to do with the segment name and the use of a '#' character in the name. When I created some very simple lambdas, i was able to create segments and annotations in a variety of combinations, but noticed that I was using much more simple names (only A-Z and a-z). I went back to my larger system and removed references

[2018-05-29 19:42] luluzhao commented on #57
Hello @nbeyer, I wrote a small test as you can see below.
[code]
The test passed and I saw the trace document in X-Ray console and here I attached the partial subsegment below.
[code]
As you can see, subsegment with '#' got accepted by X-Ray service. I am not sure what happened in your end but we definitely will help you figure out what issue is going on in your end. I remember you mentioned in pr

[2018-06-06 06:53] rvdwijngaard opened #58 "question: how to handle async scenarios correctly?"
I am using xray for http handlers, aws services and downstream http calls. Some handlers start async processes in a go routine (e.g. sending notifications).
[code]

I want to instrument these processes with xray. What is the correct way / pattern for this?

[2018-06-07 21:12] luluzhao commented on #58
Hello @rvdwijngaard, sorry for this late reply. X-Ray Go SDK has a method called `xray.CaptureAsync` which can be applied in this situation. Here I attached the example below.
[code]

[2018-07-10 20:03] artemnikitin opened #60 "Fully suppress X-Ray SDK logs"
We are using X-Ray SDK inside Lambda. SDK version - 1.0.0-rc.5
Our config is:
[code]
But we still continue to get messages such:
[code]
Is it possible to completely suppress X-Ray SDK output?

[2018-07-10 20:38] artemnikitin commented on #60
I figured out what it happened only if `context.Background` is using. Inside Lambda with proper context everything is fine.

[2018-07-18 05:44] t-yuki commented on #60
Define your own `ContextMissingStrategy` like:

[code]

[2018-07-18 05:50] t-yuki commented on #60
Note that, LogLevel param is ignoring off and critical, huh:

https://github.com/aws/aws-xray-sdk-go/blob/73cfeb4961359ccff6468c1ea21e784684ef4a4c/xray/config.go#L226

[2018-07-19 01:04] luluzhao commented on #60
hello @artemnikitin and @t-yuki, thank you for reaching out to us regarding your question. The definition of LogErrorContextMissingStrategy is that instead of throwing exceptions when your instrumented code attempts to record data when no segment provided on the passed `context.Context`, it will log an error and continue. What's more, we haven't support "off" as one of our logging level, which mea

[2018-07-23 22:32] cep21 commented on #11
Hi,

Looking forward to using x-ray.  Any update on this task?

Thanks!

[2018-07-27 14:58] yurishkuro commented on #31
swapping out the implementation of an interface (one line of code, from `new X()` to `new Y()`) is quite different from rewriting all your own (and your frameworks) code that uses that interface.

[2018-07-27 17:32] abhiksingh commented on #31
@yurishkuro thank you for the feedback. We would love to see the OpenTracing community take a lead on this work as subject matter experts on the OpenTracing API. We would be happy to work with the community towards a solution similar to [OpenCensus'](https://opencensus.io/) [exporter for X-Ray](https://github.com/census-ecosystem/opencensus-go-exporter-aws).

We continue to be very interested in t

[2018-07-31 22:56] #34 closed

[2018-08-26 03:29] unosoft opened #63 "Handle null segment in SQL"
I have my missing context strategy to be a nop (I want to ignore instances where the context does not have a valid segment). Even with the right configuration the application crashes due to a null pointer.

Something like this would solve the problem.

[code]

[2018-08-26 22:55] jason-riddle commented on #53
Any updates on this?

[2018-08-29 21:41] luluzhao commented on #53
Hello @jason-riddle

Sorry for the late reply. `aws-sdk-go` is still under development and we will definitely start testing when v2 version is stable and ready for release. Please stay tuned.

[2018-08-29 21:42] luluzhao commented on #63
@unosoft

Sorry for the late response. Our SDK should handle nil pointer exceptions by implementing ContextMissingStrategy. You're welcome to send us a PR regarding the fix. If not, we will add this change in to our backlog and make sure release ASAP.

[2018-08-30 21:59] luluzhao commented on #63
@unosoft ,

Sorry for my confusing reply. We knew you were doing the correct thing and our code indeed should catch up nil pointer exception. We should modify our code not you. :)

[2018-09-14 12:51] luigi-riefolo commented on #11
@luluzhao what's the state of this feature?

[2018-09-17 14:12] alikor commented on #53
If i would work on this feature would we need to be able support v1 and v2 of the API? or like what has been done would with other v2 packages would you create a  github.com/aws/aws-xray-sdk-go-v2?

[2018-09-26 08:44] rvdwijngaard opened #68 "runtime panic "cannot set embedded pointer to unexported struct: sampling.samplingRule""
latest version of this package gives a runtime error because of unexported embedded struct samplingRule.

I already made #67 to fix this.

[2018-09-26 18:03] yogiraj07 commented on #68
Hi @rvdwijngaard ,
Thank you for the contribution, I have merged the PR.

Best,
Yogi

[2018-09-26 22:29] yogiraj07 commented on #68
Hi @rvdwijngaard ,
Can you help us to reproduce this issue (steps or sample app might help), since we could not reproduce on our side. What is your use case and the Go Version you are using.

Best,
Yogi

[2018-09-28 01:27] yogiraj07 commented on #68
Hi @rvdwijngaard ,
We have made `1.0.0-rc.7` release : https://github.com/aws/aws-xray-sdk-go/releases/tag/v1.0.0-rc.7.
Please feel free to open the issue, if you have any questions.
Thanks,
Yogi

[2018-09-28 01:27] #68 closed

[2018-10-02 13:00] mehdisbys opened #69 "Go build errors : Missing xraySampling* definitions"
@yogiraj07  This package is currently broken:

This is the output of `go build` in my current project :

[code]

To add more information I tried running the tests in `vendor/github.com/aws/aws-xray-sdk-go/strategy/sampling` with command `go test ./...` and got :

[code]

[2018-10-02 23:29] mehdisbys commented on #69
Thanks Yogi it was indeed an aws-sdk-go version issue.

Best,
Med

[2018-10-02 23:29] #69 closed

[2018-10-03 19:16] dgiamanco-fortmason opened #70 "Allow AWS_XRAY_DAEMON_ADDRESS or DaemonAddr to use a hostname"
The example ecs task definition on https://docs.aws.amazon.com/xray/latest/devguide/xray-daemon-ecs.html uses a hostname instead of an IP address for the AWS_XRAY_DAEMON_ADDRESS environment variable. This causes an error in daemoncfg/daemon_config.go:128 where the address is assumed to be an IP.

I've locally added net.LookupIP() to translate the hostname to IP address but this might be a good add

[2018-10-03 23:03] yogiraj07 commented on #70
Hi @dgiamanco-fortmason ,
Thanks for the feedback. We are working on the issue. I think `net.ParseIp()` : [Link](https://github.com/aws/aws-xray-sdk-go/blob/master/daemoncfg/daemon_config.go#L128) was unnecessary that prevented hostname parsing.

We can rely on underline UDP and TCP resolver, to resolve IP/Hostname and propagate errors, if any: [Link](https://github.com/aws/aws-xray-sdk-go/blob/ma

[2018-10-03 23:16] dgiamanco-fortmason commented on #70
That should work, thanks for looking into it.

[2018-10-08 17:40] #70 closed

[2018-10-17 06:52] breml commented on #53
@luluzhao Thanks for your reply. My understanding is, that sdk v2 is pretty close to the final release for the following reasons:
1. the latest release is tagged with "preview.5" which sounds to me like "release candidate 5"
2. there have been only few changes in the last few months and from what I can tell, those have been mainly bug fixes. We are using v2 since more than 6 months now and we face

[2018-10-17 11:30] domashevskiy opened #71 "Data race when use http client"
Reproduced on:
- SDK version: V1.0.0-rc.8.
- GO version: go1.11.1 linux/amd64

When build with - race flag, data race warning occurs upon sending http request:

WARNING: DATA RACE
Read at 0x00c000a201b0 by goroutine 56:
  vendor/github.com/aws/aws-xray-sdk-go/xray.(*HTTPSubsegments).GotFirstResponseByte()
      vendor/github.com/aws/aws-xray-sdk-go/xray/httptrace.go:159 +0x47
  privacyapi/vendor/g

[2018-11-01 13:50] emirb opened #73 "Replace glide"
As the [documentation mentions](https://github.com/Masterminds/glide#golang-dep), using Glide for dependency management is not recommended anymore as `dep` is available for some time now.

I would propose moving to `dep` or even better to Go modules (previously known as `vgo`) which are available since 1.11 release.

[2018-11-06 09:17] ansyser commented on #19
[code]
The readme session is still incorrect

[2018-11-12 01:03] leighmcculloch commented on #54
Similar to the AWS Client, I think it should be possible for BeginSubsegment to be called without a Segment being present. In many cases lower level code may want to specify subsegments within it, but doesn't want to require all callers to be using XRay. At the moment calling BeginSubsegment with a context that doesn't contain a segment results in a panic.

[code]

[2018-11-12 02:43] BHunter2889 commented on #73
I would like to add a subtask to this:

- [ ]  fix versioning to meet `dep` standards by removing  `-rc` tagging practice which prevents `dep` from getting latest version.

[2018-11-19 23:30] luluzhao commented on #71
@domashevskiy , sorry for the late response. I merged @t-yuki PR and will make sure bring this fix to next release.

[2018-12-05 02:57] jason-riddle opened #74 "How to enable JSON log output?"
Currently I have xray configured as follows

[code]

This works ok for single line messages

[code]

but doesn't work for multiline messages or messages with quotes.

[code]

Also, each line is a separate entry in cloudwatch which is quite annoying.

Is there a better way to have logs print as JSON?

[2018-12-06 01:08] luluzhao commented on #74
Hello @jason-riddle , thank you for contacting us regarding your question. Unfortunately, we haven't supported printing raw json document in our current Go SDK. I will add this item in our backlog and please stay tuned.

[2018-12-18 21:54] jason-riddle opened #75 "Add log for completion http request in logs"
When the loglevel has been set to trace like so:

[code]

One would expect information about when the request is actually sent to be added to the logs. However, the last thing that gets logged is the json representation of the trace. What I would like to see is additional information such as the ip address the xray client sdk tried to send information to and whether the response was successful or

[2018-12-19 04:40] luluzhao commented on #75
Hello @jason-riddle , thank you for your suggestions. Currently, XRay Go SDK doesn't catch connection error so that we cannot log such information like you mentioned above. However, we should catch errors or exceptions if there is a udp connection error. I will add this feature into our backlog and make sure we will address it soon. Please stay tuned.

[2018-12-20 00:16] haotianw465 commented on #75
Hi @jason-riddle , we do have `info` level log statement if the udp is successfully dialed: https://github.com/aws/aws-xray-sdk-go/blob/master/xray/emitter.go#L43-L46

The SDK tries to resolve the daemon address during configuration and the config method return all the errors https://github.com/aws/aws-xray-sdk-go/blob/master/xray/config.go#L149 occurred during configuration. The caller can handle

[2018-12-20 18:59] jason-riddle commented on #75
There isn't a line 43-46 in this file. Also, I don't see a log statement anywhere in this file.

Line 149 links to a new line. I'm guessing you meant this line: https://github.com/aws/aws-xray-sdk-go/blob/9779f16ea01fdfc11c54971ed8547dbaa442bb42/xray/config.go#L144. I've added the commit hash just to be sure. That's nice that it returns all of the errors.

Are you asking if one approach is preferr

[2019-01-02 23:54] haotianw465 commented on #63
This is fixed as part of rc9 release.

[2019-01-02 23:54] #63 closed

[2019-01-07 11:49] Cosaquee opened #77 "Error when installing package"
In our CI we can see this error:

[code]

Running the same command inside official Go container for versions

* 1.11
[code]

* 1.10
[code]

We are not using Glide for dependencies management so we are running plain `go get` commands to download all the packages. As we can see there is an error when downloading this package.

[code]

The current master of https://github.com/pkg/errors is breaking t

[2019-01-08 06:45] dan-lind commented on #77
Running into the exact same issue

[2019-01-08 21:23] yogiraj07 commented on #77
Hi @Cosaquee ,
Thanks for reporting the issue. We have an issue [#73](https://github.com/aws/aws-xray-sdk-go/issues/73)  reported for moving away from glide. Currently we support [0.8.x](https://github.com/aws/aws-xray-sdk-go/blob/master/glide.yaml#L6) of the `errors` package and this will be solved as a part of migration away from glide dependency management.

Travis is broken due to different re

[2019-01-09 10:47] Cosaquee commented on #77
I can confirm that after https://github.com/pkg/errors/pull/193 our CI is green. I still need to deploy functions that are using this package but it seems to be ok.

[2019-01-09 16:14] noliva commented on #38
Is this still going? or is there a fix I haven't found?

[2019-01-09 18:53] yogiraj07 commented on #38
Hi @noliva ,
The feature is not merged into master. We plan to to add this in GA release of the SDK. We cannot provide any timeline at this point, however please stay tuned for the updates.

[2019-01-11 06:02] unosoft opened #79 "Remove log during package import."
xray/default_emitter.go

func (de *DefaultEmitter) RefreshEmitterWithAddress(raddr *net.UDPAddr) {
	de.Lock()
	de.conn, _ = net.DialUDP("udp", nil, raddr)
	log.Infof("Emitter using address: %v", raddr) . <<<<<<<
	de.Unlock()
}

Can we please get rid of the log line above?
That particular log shows up as part of package import and it is really annoying, for example if you build an app to print out

[2019-01-11 06:30] #79 closed

[2019-01-16 10:21] noliva commented on #8
@luluzhao any progress towards this issue? I would also be interested in this feature 👍

[2019-01-16 20:40] luluzhao commented on #8
@noliva , thank you for your asking. Currently, we're working towards other high priority tasks at this moment but we will definitely come back and revisit this issue in future. Please stay tuned.

[2019-01-24 22:39] muirrn commented on #15
Here are some problems with the logger:

1. No way to log to a file
2. No way to disable logging
3. Use of global seelog logger is dangerous/naughty (i.e. if the user of xray happens to also use the global seelog logger, xray will overwrite the user's logger)
4. Configuring log level to "error", I still see an "info" level message every time because something logs at the default level before the c

[2019-01-24 23:43] muirrn opened #80 "Handler() doesn't wrap http.ResponseWriter fully"
`xray.Handler()` leaves the `http.ResponseWriter` no longer implementing `http.Flusher`, `http.Hijacker` and `http.CloseNotifier`. See https://github.com/gorilla/handlers/blob/7e6a874cdc0efb71a260254cc0e30d5415b6a5bb/logging.go#L58 for an example of how you can maintain those interfaces when wrapping the response writer.

Here is a simple program to demonstrate the issue:

[code]

[2019-01-30 22:02] #77 closed

[2019-01-30 23:53] luluzhao commented on #80
Hello @muirrn , thank you for reaching out to us. Based on the example you attached, I found out the difference that `xray.Handler` changed the behavior of `http.ResponseWriter`. We will add this into our backlog and make sure it can be included in our following releases. We are also welcome to accept PR regarding for this one. Feel free to submit it if you have and we'd love to prioritize for rev

[2019-02-11 20:41] #15 closed

[2019-02-11 20:54] muirrn commented on #60
Disabling logging is now supported via
[code]

Perhaps this issue can be closed.

[2019-02-11 20:55] muirrn commented on #74
This is possible now if you implement your own xraylog.Logger interface and pass to xray.SetLogger() in an init() function. Perhaps this can be closed.

[2019-02-12 19:27] jason-riddle commented on #74
Interesting, is it possible to use this with zerolog or zap? Since I want a structured log message, I would prefer to use either of those two libraries versus rolling my own logging format.

[2019-02-12 19:31] muirrn commented on #74
Internally xray logs using formatting strings, not structured messages, so the xraylog Logger interface only provides a string to be logged, not key/value pairs. Of course you can still pass this along to a structured logger with `xray_msg=theMessage` or similar.

[2019-02-14 17:47] rangaataws opened #84 "AddError records fault(5xx) instead of error(4xx)"
**Expected behavior:**
To be in sync with other language SDKs, Go SDK should have two methods,
AddError -> logs an 4XX error with flag `fault = false`
AddFault -> logs an 5XX error with flag `fault = true`
By doing this, in X-Ray console, we can differentiate the errors by colors. Faults are shown in red color, errors are shown in yellow color.

**Actual behavior:**
AddError -> logs errors with fl

[2019-02-19 08:48] jason-riddle commented on #74
So I tried to make use of this, but I'm still running into my first issue. Here's what I did

`main.go`

[code]

Here's what's logged

[code]

Am I using this correctly or am I missing something else?

[2019-02-19 15:41] muirrn commented on #74
You need to use json.Marshal, something like this (not tested):

[code]

[2019-02-19 18:22] jason-riddle commented on #74
Excellent, that worked. Here is the complete example incase someone else finds this useful.

[code]

Output

[code]

I'll go ahead and close this issue now.

[2019-02-19 18:22] #74 closed

[2019-02-19 18:40] #84 closed

[2019-02-19 18:42] luluzhao commented on #84
In Go, there is no conception of exception. However, in order to keep consistency of the feature across of all SDKs, we implemented exception strategy but the method name called `AddError`.

[2019-02-19 18:44] rangaataws commented on #84
Thanks for the response. When I find time, I will try a few more ways to see if it is a problem to me or not.

[2019-02-19 21:37] luluzhao commented on #60
Thanks for @muirrn 's contribution. I will close this issue for now and feel free to reopen it if it is not working.

[2019-02-19 21:37] #60 closed

[2019-02-19 21:40] #71 closed

[2019-02-25 09:45] emirb commented on #73
@luluzhao Are you going to skip `dep` support and skip to Go modules directly?

[2019-02-25 20:45] luluzhao commented on #73
Hello @emirb , after reading [Go package management tools wiki](https://github.com/golang/go/wiki/PackageManagementTools), I found out Go111Module became the "official experiment" which was "dep tool" before. Thanks for pointing out this and we are definitely going to mark Go modules as priority to solve glide issue. Please stay in tuned.

[2019-02-28 17:32] danielpsf commented on #53
I'm using Go Mod and I guess everyone that starts a project in Go now will start using Go Mod instead of Glide or Dep.

Turns out I had to migrate to SDK-V2 since V1 do not support Go Mod, and by doing that I lost the capability of using X-Ray and SDK-V2.

I'm looking forward to having support for V2, which will enhance my Serverless apps a lot!

[2019-03-07 02:11] daroot opened #87 "Losing Lambda invocation traces with goroutines."
I'm not 100% sure this a bug, or me failing to correctly intuit some interaction between Go contexts, goroutines, and aws-xray-sdk-go's interaction with them for storing trace data.

I have a lambda that is invoking other lambdas as a warmer function.  Lambda A (the originating lambda) calls other lambdas (B, C, D, E, etc).

This linear and synchronous code works perfectly, showing me every trace

[2019-03-12 18:23] lukestoward opened #89 "Unable to change internal logging format"
There are a number of logging messages that are logged to aws/aws-xray-sdk-go/internal/logger which cannot be formatted. At least I am unaware of a method to do so.

My particular issue is that I am using a structured logger which I can configure to work with the XRAY library using `xray.SetLogger`. However, this does not influence the internal logger statements made to `stdout`. I could live with

[2019-03-12 22:08] luluzhao commented on #87
Hello @daroot , sorry for the late reply. After reading this issue, it seems like there are several unexpected behaviors here. Please correct if I am wrong. 1. subsegments B, C, D, E were missing from A's timeline. 2. the breakdown of marshal/attempt/connect/unmarshal/etc were also missing from the A's timeline. Do I miss something else?

Would you mind providing the screenshot of the two cases to

[2019-03-13 06:35] daroot commented on #87
There's basically one bad behavior; when using goroutines, the  warmer function (A) is not showing the correct number of subtrees for the invocation of the downstream Lambdas (B, C, D, E) in the timeline, and those nodes are not connected properly in the service map, despite the trace_ids being propagated to the downstream lambdas.

I grabbed some screen shots.  Function names are again anonymized

[2019-03-13 21:09] yogiraj07 commented on #89
Hi @lukestoward ,

Can you explain a bit more on the configuration of your logger? How you are using the `xray.SetLogger()`? I would also like to understand the statement "this does not influence the internal logger statements made to stdout", does it mean the the configuration you use for setting the logger doesn't take into effect for some log statements made by internal/logger and by default it

[2019-03-14 23:45] luluzhao commented on #87
Hello @daroot , we had a bug in our current Go SDK so that you are facing this issue. We will prioritize it and make sure we can address it ASAP.

[2019-03-15 21:08] chrisradek commented on #80
Thanks for opening this issue!

The fix for this is included in [V1.0.0-rc.11](https://github.com/aws/aws-xray-sdk-go/releases/tag/V1.0.0-rc.11).

[2019-03-15 21:08] #80 closed

[2019-03-15 21:11] chrisradek commented on #73
The SDK now supports `dep` and go modules as of [V1.0.0-rc.11](https://github.com/aws/aws-xray-sdk-go/releases/tag/V1.0.0-rc.11).

Removing the `-rc` tag will be a separate task once the SDK is no longer in a release candidate stage.

[2019-03-15 21:11] #73 closed

[2019-03-18 11:18] lukestoward commented on #89
Hi @yogiraj07, apologies for the delay.

After reviewing what you've said, and digging a little deeper, I think I've found the problem. The function `newGlobalConfig()` is called when I import the xray package, which, given the presents of the `AWS_XRAY_DAEMON_ADDRESS` env var, logs the following:
[code]
This happens before my application code calls `xray.SetLogger()` and I begin to use the custom

[2019-03-18 20:12] yogiraj07 commented on #89
Hi @lukestoward ,
Thank you for your analysis. In Go, package initialization for the [package](https://golang.org/ref/spec#Package_initialization) dependencies happens before your application package.  When an environment variable for X-Ray daemon address is set, irrespective of using `xray.SetLogger()` in the `init()` of your application, [newGlobalConfig](https://github.com/aws/aws-xray-sdk-go/b

[2019-03-22 14:56] lukestoward commented on #89
Hi @yogiraj07,
What you have described with the call to `GetDaemonEndpoints` is what i'm seeing. Regarding your solutions, I _could_ avoid using the environment variable in development, however, when I deploy to our numerous environments, the instance running the daemon is hosted elsewhere, so I need to provide the address using the environment variable. I guess I could use a different variable na

[2019-03-22 17:38] chrisradek opened #94 "Fix flaky CI tests"
The `TestLambdaSegmentEmit` test in `lambda_test.go` appears to be flaky:
https://travis-ci.org/aws/aws-xray-sdk-go/jobs/510026094
This test has failed a couple times in different builds since we reactivated travis.

We've also seen an `invalid memory address or nil pointer dereference` error in the `TestMySQL` test once:
https://travis-ci.org/aws/aws-xray-sdk-go/jobs/510026091

[2019-03-27 16:51] yogiraj07 commented on #89
Hi @lukestoward ,
Thanks for the update. If you use just default logger provided by the SDK, are all the log messages not separated by `\n`?  I wasn't able to reproduce  the issue of `\n` not appending to log message locally.

Irrespective of that, if I use `	xray.SetLogger(xraylog.NullLogger)
` in `init()` of the app and have daemon address set in the `AWS_XRAY_DAEMON_ADDRESS` environment variabl

[2019-03-27 17:14] lukestoward commented on #89
Hi @yogiraj07, thanks for your reply. After comparing sources, I've just discovered, somehow, in my project the vendored version of this library has had the "\n" from [here](https://github.com/aws/aws-xray-sdk-go/blob/master/xraylog/xray_log.go#L76) removed. Hence why you're unable to reproduce. My apologies, I can't seem to figure out how/why it was modified before being committed to our repo. It

[2019-03-28 16:37] lukestoward commented on #89
Hi @yogiraj07, I have opened #96 which implements your solution 2.

[2019-04-02 00:38] pjebs opened #98 "Conn( ) support"
Can xray please support `Conn`: https://golang.org/pkg/database/sql/#DB.Conn

https://godoc.org/github.com/aws/aws-xray-sdk-go/xray#DB

This is of little value without support for obtaining an exclusive connection.

[2019-04-02 17:38] silverspace opened #99 "Resource leak when HTTP handler panics"
The existing implementation of `func Handler(sn SegmentNamer, h http.Handler) http.Handler` has a resource leak if the passed in `http.Handler` panics, since `seg.Close(nil)` is never invoked. To avoid this, please change:
https://github.com/aws/aws-xray-sdk-go/blob/master/xray/handler.go#L179
to be
[code]
after acquiring the segment.

[2019-04-03 09:59] montanaflynn opened #101 "panic: failed to begin subsegment named 's3': segment cannot be found."
I'm using opencensus x-ray exporter and also trying to wrap my s3manager which causes a panic, here's the code where I wrap the s3 client which causes the panic:

[code]

And here's the panic log:

[code]

[2019-04-04 19:20] #89 closed

[2019-04-05 08:46] andizzle commented on #28
@rvdwijngaard with echo 3.0+ you can create a middleware to start tracking
[code]

[2019-04-17 10:17] Rhymond opened #106 "panic: runtime error: invalid memory address using sync.WaitGroup"
We get **panic** when we use `xray` with `sync.WaitGroup`.  As you can see in a error below, context becomes nil and  func `getTraceHeaderFromContext` throws panic as there is no required value in it.

we use `algnhsa` server adapter and `mux.router` for routing (it shouldn't cause an issue, but I added it to code example below) and we pass http.Request context to `GetObjectWithContext` function.

[2019-04-17 10:20] Rhymond commented on #101
It looks like your context is missing a segment.
Try to wrap your s3manager code with `xray.BeginSegment`

[code]

[2019-04-22 02:53] t-yuki commented on #106
I've fixed it: https://github.com/aws/aws-xray-sdk-go/pull/105

[2019-04-24 03:37] kaihendry commented on #18
Hi, has anyone got a simple worked example to share?

https://media.dev.unee-t.com/2019-04-24/aws-sam-xray-go.mp4

The `sam init --runtime go1.x` boilerplate don't appear to expose context. :thinking:

[2019-04-24 03:54] kaihendry opened #107 "Underwhelming trace UX"
I expected it to show the segment name and offer details like `httpstat`. Am I missing something?
Screencast: https://media.dev.unee-t.com/2019-04-24/aws-sam-xray-go.mp4
Code: https://play.golang.org/p/czrSks9-XKw
https://media.dev.unee-t.com/2019-04-24/aws-sdk-go-xray-feedback.mp4
Using 5ffa743a8b8db87a9d4449c2f63fe95a4a53a8c5

Thank you!

[2019-04-24 21:15] awssandra commented on #107
Hi Kaihendry,

It looks like you're running on Lambda with SAM? So, apparently, from my reading, the arguments passed are defined by your SAM template .yaml file. Since you are using an example for reference, I assume only the APIGateway Event is hooked in as an argument, but I can't find where the Lambda context is defined.

Either way, you'll want to set "tracing" as "active", as seen here:
http

[2019-04-25 02:45] kaihendry commented on #107
The default `sam init --runtime go1.x` boilerplate has tracing: https://media.dev.unee-t.com/2019-04-25/template.yaml

I can also confirm **Enable active tracing** is enabled in the lambda console.

[2019-04-26 20:24] awssandra commented on #107
Thanks for the update. I am getting in-touch with the SAM developers, will get back to your shortly.

[2019-04-29 19:37] luluzhao commented on #107
Hello @kaihendry , I read the [code](https://play.golang.org/p/czrSks9-XKw) you attached and I found out one thing is not correct. AWS X-Ray doesn't support create segment inside lambda function since lambda will generated two segments for customer. You can only create subsegments inside lambda function.

Here I attached a code snippet for you to for create subsegment
[code]

Let me know if it wor

[2019-04-30 08:27] kaihendry commented on #107
It didn't work: https://github.com/kaihendry/samXray/blob/master/hello-world/main.go

`[{"path":"github.com/aws/aws-lambda-go/lambda/function.go","line":27,"label":"(*Function).Invoke.func1"},{"path":"runtime/panic.go","line":522,"label":"gopanic"},{"path":"github.com/aws/aws-xray-sdk-go/strategy/ctxmissing/default_context_missing.go","line":45,"label":"(*DefaultRuntimeErrorStrategy).ContextMissin

[2019-04-30 15:53] montanaflynn commented on #101
@Rhymond thanks that fixed the panic!

[2019-04-30 15:53] #101 closed

[2019-04-30 17:21] luluzhao commented on #107
@kaihendry , the reason why you get this error message is that there is no segment in lambda `context` so that the subsegment cannot be created. In this [line](https://github.com/kaihendry/samXray/blob/master/hello-world/main.go#L27), you provided `context.Background`. I don't think lambda has injected segment into this context since like I said before, lambda will be responsible for generating se

[2019-04-30 20:54] luluzhao commented on #106
@t-yuki Thank you so much for submitting that PR. I already merged it. @Rhymond I will make sure we included the fix for next release.

[2019-04-30 21:14] luluzhao commented on #98
Hello @pjebs, thank you so much for contacting us. We will add this one into our backlog. In the meantime, we also accept PRs. If you would like to send us PR, we are happy to help you.

[2019-05-01 09:53] Rhymond commented on #106
Thanks both!

[2019-05-01 09:53] #106 closed

[2019-05-09 03:40] kaihendry commented on #107
Do you have a minimal code example I could please try instead with https://github.com/awslabs/aws-sam-cli

[2019-05-10 00:07] awssandra commented on #107
Hi kaihendry

I've forked your repo, let see if I can unblock you. Will comment back here when I have an update.

[2019-05-10 00:39] awssandra commented on #107
Hi kaihendry

I've got the Lambda context setup correctly now. We'll have to figure out how to get the X-Ray daemon running in the SAM Docker environment.

[2019-05-10 17:47] luluzhao commented on #107
I read your code, the only thing you need is to inject lambda `ctx` into your handler function. However, I have one question. I found out the handler has `request events.APIGatewayProxyRequest` as its parameter and the `request` is never been used inside the function. I am wondering what is the use case for that `request`? If you don't need it, you can change it to lambda context. I modified your

[2019-05-13 20:49] awssandra commented on #107
@kaihendry

Please review the code above, let us know if that helps unblock you.

[2019-05-14 08:17] kaihendry commented on #107
<img src="https://s.natalian.org/2019-05-14/1557821274_2560x1440.png">

Thank you for your patience!! Finally understand the [Valid Handler Signatures](https://docs.aws.amazon.com/lambda/latest/dg/go-programming-model-handler-types.html).

So that context should be used everywhere & not context.Background(). I guess one can't rely on http request context either? Is there a way to know I have the r

[2019-05-14 08:17] #107 closed

[2019-05-22 18:28] rvdwijngaard opened #110 "xray handler for grpc"
Do you have any plans for adding xray handler for grpc servers / clients?

[2019-05-22 20:57] ss2305 commented on #110
Hi Ron,

Currently we do not have support for grpc but we will add it into our backlogs. Can you share examples of use cases you are trying to tackle?
Meanwhile we do welcome PRs and would be happy to review.

Best Regards
Srikant

[2019-05-23 07:58] LeoAdamek opened #111 "Segments with empty names generated for remote services"
I’ve got an issue where a remote service operation creates a segment which has a blank name.
The trace is then rejected by x-ray as this segment is not valid.

Example exceript of an affected trace:

[code]

[2019-05-23 07:59] LeoAdamek commented on #111
I'll try to come up with a minimal example of what's causing this but I'm not entirely sure what it might be.

[2019-05-23 09:58] LeoAdamek commented on #111
Here's an extract from an SDK trace to illustrate what's going on:

    May 23 09:55:00 SYSTEM_HOST APPLICATION[PID]: 2019-05-23T09:55:00Z [Trace] Beginning segment named UPSTREAM_HOST
May 23 09:55:00 SYSTEM_HOST APPLICATION[PID]: 2019-05-23T09:55:00Z [Trace] Beginning subsegment named
May 23 09:55:00 SYSTEM_HOST APPLICATION[PID]: 2019-05-23T09:55:00Z [Trace] Beginning subsegment named
May 23 09:5

[2019-05-23 10:59] LeoAdamek commented on #111
Further to this I may just need to update to the latest v1.0.0 RC as this appears to be my issue. (the http requests do not have the `Host` field set)

[2019-05-23 11:24] #111 closed

[2019-05-31 03:12] k-kurikuri opened #112 "dep ensure -add .com/aws/aws-xray-sdk-go does not working"
Hi. The dep command generated an error when following the README.

[code]

This seems to happen because there is no `.go` under the root package.
The package containing `.go` was successful.

[code]

aws-xray-sdk will probably work with this command.

[2019-05-31 20:49] luluzhao commented on #112
@k-kurikuri , thank you for contacting us regarding your issue. It seems like this is an [issue](https://github.com/golang/dep/issues/1306) with `dep` and currently there is no fix for it. Here are two solutions to fix this. First one like you mentioned above, install the individual packages using `dep ensure -add`. Second one is inside your Gopkg.toml file and then write down the dependency you w

[2019-06-01 00:22] cep21 opened #116 "RFC: backwards incompatible change to BeginSubsegment: remove goroutine"
I would like to propose a backwards incompatible change to BeginSubsegment while the client is in RC and get community feedback.

We should remove the goroutine created inside `BeginSegment`.  The line referenced is https://github.com/aws/aws-xray-sdk-go/blob/de6489788fd3cac48c982c3d304120bbd9049d6c/xray/segment.go#L70

The API remains the same, but users will be required to call `Close` on the re

[2019-06-03 05:40] k-kurikuri commented on #112
@luluzhao , Thank you for your reply. It solved by adding `v1.0.0-rc.11` to `Gopkg.toml`. I will implement using v1.0.0-rc version.

[2019-06-03 05:40] #112 closed

[2019-06-06 04:27] PaulLiang1 opened #118 "Data race when using aws clients"
Reproduced on:
- go version: 1.11.4
- goos: linux
- goarch: amd64
- aws-xray-sdk-go@v1.0.0-rc.11
- aws-sdk-go@v1.17.12

when running the application with `-race` flag on it spits warning:
[code]

Removing any patching for aws sdk makes the problem go away
[code]

[2019-06-06 21:22] luluzhao commented on #118
@PaulLiang1 thank you for reporting this issue. We will add it into our backlog and prioritize it. In the meantime, A PR is also welcome.

[2019-06-07 16:25] underscorenygren opened #119 "Question on permission failure debugging"
Hi,

I recently set up the the SDK using Lambda + Apigw. It took longer than it needed because I got snagged on permissions. Apigw turns them on automatically, but I neglected to add the requisite write permissions to my lambda function. My question is twofold.

Firstly, if a reminder about permissions is not beyond the scope of the README? An addition there would have been helpful to me.

Secondl

[2019-06-10 09:08] masahiro331 opened #120 "Does xray DB tracer work?"
Hi. Thank you for good SDK!!!

I have problem, please help.

Environment
On:   EC2 (Amazon linux2)
Run:  Xray daemon (2.1.3)
DB: Postgresql (docker postgres:9.6)
GO:  go1.12.5 linux/amd64
SDK: github.com/aws/aws-xray-sdk-go@v1.0.0-rc.11

I wrote code as below.
[code]

I can't get metrics on aws console  「X-Ray Service Map」.
And xray-daemon nothing log.

[2019-06-10 09:51] masahiro331 commented on #120
I'm sorry. I fixed this issue. SQL trace is subsegment...
Can I fixed example code? I think that is very old ...

[2019-06-10 09:52] masahiro331 commented on #120
Fix code:
func main() {
        db, err := xray.SQL("postgres", "user=postgres password=postgres dbname=postgres sslmode=disable")
        if err != nil {
                fmt.Printf("%+v", err)
        }
        defer db.Close()

        var res string
        ctx, seg := xray.BeginSegment(context.Background(), "db-controller")
        err = db.QueryRow(ctx, "SELECT name from users;").Scan(&res)

[2019-06-10 17:41] luluzhao commented on #120
@masahiro331, thank you for contacting us regarding your question. Tracing SQL operations will be subsegments. Do you mean you want to fix the example listing on our README.

[2019-06-11 00:50] luluzhao commented on #119
@underscorenygren Thank you so much for contacting us regarding your issue. I am wondering how you enable tracing on lambda? By clicking the checkbox in lambda console? If you do in that way, the `write` permission will be automatically added and here is the [link](https://docs.aws.amazon.com/lambda/latest/dg/enabling-x-ray.html) owned by lambda to talk about how to enable tracing. Regardless of t

[2019-06-11 07:01] masahiro331 commented on #120
Yes. And this repository https://github.com/aws/aws-app-mesh-examples/blob/master/examples/apps/colorapp/src/colorteller/main.go

[2019-06-11 20:37] luluzhao commented on #87
Released v1.0.0-rc.12 today which including the fix. Feel free to reopen the issue if you have any questions. Thanks.

[2019-06-11 20:37] #87 closed

[2019-06-11 20:38] luluzhao commented on #94
Update:

SQL unit test is fixed by this PR: https://github.com/aws/aws-xray-sdk-go/pull/121

still need to get Lambda unit test fixed.

[2019-06-11 20:55] luluzhao commented on #116
#51

[2019-06-11 21:03] luluzhao commented on #120
@masahiro331 feel free to send out PR about fixing the example in README. Regarding this [link](https://github.com/aws/aws-app-mesh-examples/blob/master/examples/apps/colorapp/src/colorteller/main.go), I am not sure what do you mean. That repo is managed by App Mesh team. If you want to contribution to that repo, you can also submit PR or open an issue for that.

[2019-06-12 02:01] daroot commented on #87
Confirmed that it fixed the problem for me.  Thanks!

[2019-06-12 04:00] masahiro331 commented on #120
Thanks you! @luluzhao
I cloes this issue.

[2019-06-12 04:00] #120 closed

[2019-06-13 19:31] cep21 opened #124 "Clarify use of defer/recover pattern inside `strategy/sampling`"
There are a few `defer ... r := recover()` statements inside `/strategy/sampling`.  Blanket defer/recover statements are a very bad pattern in Go code because they can mask deeper issues inside the functions they wrap.  Ideally none of the code inside strategy/sampling would panic.  Can we investigate why these defer/recover are needed and if there is some root issues inside strategy/sampling that

[2019-06-14 00:01] underscorenygren commented on #119
Hi Lulu,

1. Yes, I enabled xray through the APIGW console, using the checkbox, but I
think I did it out of order, maybe I enabled it before I created the
lambda.

2. I was using the xraylog, which I found in the source and through some
examples around the web. Here's my toy example:
https://gist.github.com/underscorenygren/fba8cb8ed6a813be710eb3c3563ee617

Erik Nygren
(650) 796 6434

On Mon, Jun

[2019-06-14 00:09] luluzhao commented on #124
The reason why we want to recover from panic is that everything happened inside strategy/sampling shouldn't block customer's application. If centralized sampling has some errors causing panic, the rulePoller and targetPollor threads die silent with error message logged and then fall back to localized sampling strategy. Yes, ideally none of the code inside strategy/sampling should panic. However, i

[2019-06-14 01:58] cep21 commented on #124
That's a good reason to use goroutines and I agree with that, but I don't think the `defer/recover` pattern used is required to prevent blocking.

I understand that, but it's generally considered bad practice and a code smell.  Do you have examples of other Go libraries that take similar approaches.  It usually happens when library code calls out to user injected functions or callbacks, but I've n

[2019-06-14 17:39] luluzhao commented on #124
I think this is the design logic we follow when we design centralized sampling strategy and here is the reference from [java](https://github.com/aws/aws-xray-sdk-java/blob/master/aws-xray-recorder-sdk-core/src/main/java/com/amazonaws/xray/strategy/sampling/pollers/RulePoller.java#L43). I don't know whether other Go libraries have similar design logic or not. Do you have any suggestions how to hand

[2019-06-14 17:42] luluzhao commented on #119
Hi there, I looked at your example and it works right? What kind of message you get from enable xraylog regarding the permission issue? What's more, have you enable the checkbox on lambda console too?

[2019-06-14 21:09] underscorenygren commented on #119
Yes, the example works, but does not log any errors when permissions are
not set.

Erik Nygren
(650) 796 6434

On Fri, Jun 14, 2019 at 10:42 AM Lulu Zhao <notifications@github.com> wrote:

[2019-06-14 21:16] luluzhao commented on #119
@underscorenygren thanks for confirming the issue. Like I said in the previous thread, you can only find permission error message from X-Ray daemon log since it is X-Ray daemon that calling our X-Ray backend which needs permission. SDK doesn't require any permission to instrument customer's application. SDK only generates segments and send it daemon, which will need permission to call `PutTraceSeg

[2019-06-14 21:56] underscorenygren opened #126 "Lamda handler Context does not contain Segment"
### Bug

When an APIGateway enabled lambda function with tracing information passes it's context to `xray.TraceID()` it does not return the trace id from the header. This leads to downstream issues for tracing since `GetSegment` is always nil.

### Expected Result
`xray.TraceID` should return the same trace ID that's present in the header.

### Reproduce
tried on `v1.0.0rc-12`

The following handl

[2019-06-14 22:39] awssandra commented on #126
Hi underscorenygren,

The issue here is, there is no segment to get.

In Lambda, the segment is created (and emitted) on behalf of the Lambda runtime start-up code.
The SDK hooks into this (via the header data on the context) and streams subsegments independently to have the X-Ray front-end for re-assembly. The SDK doesn't actually have the segment or it's data. Merely, the trace ID, segment ID an

[2019-06-14 22:57] underscorenygren commented on #126
Hi Sandra,

I found the BeginFacadeSegment by trawling through the source, but the reference you refer to is a bit obscure, and the `lambda` example in the readme does not cover this case. Reading it with limited knowledge of xray it seemed to imply the segments are already in there.

Another example below lambda showcasing the use of straight xray without the `Client` would be super helpful. In t

[2019-06-14 23:04] awssandra commented on #126
Yes, admittedly, it's not super clear you do not need to worry about the segment on the examples, or the readme for that matter. We have had the question a few times on the Node issues. We'd be happy to review anything you'd like to submit.

Thanks!
Sandra

[2019-06-17 21:30] underscorenygren commented on #119
yeah, I figured this was an issue with how the daemon is set up. Makes
sense, just important to be aware of when you're trying it out.

Erik Nygren
(650) 796 6434

On Fri, Jun 14, 2019 at 5:16 PM Lulu Zhao <notifications@github.com> wrote:

[2019-06-18 00:21] luluzhao commented on #119
@underscorenygren I will close this issue for now and feel free to reopen it if you still have questions.

[2019-06-18 00:21] #119 closed

[2019-06-20 20:04] cep21 commented on #124
Since it's a goroutine, customer code won't block.

Java has only one way to handle errors: exceptions.  Sometimes exceptions are used for expected errors, like IO timeouts or file permissions.  Sometimes they are used for mostly unrecoverable things, like out of heap space, and sometimes they are used for software bugs, like null pointer exceptions.  Independent of the use cases for errors, Java

[2019-06-27 19:33] luluzhao commented on #124
@cep21 sorry for the late reply. If we remove the `defer/recover` from the go routine and there is a panic inside `refreshTargets` or `refreshManifest` method, the program will stop, is that correct? Inside our code, we capture the [error](https://github.com/aws/aws-xray-sdk-go/blob/master/strategy/sampling/centralized.go#L257) and log it. Even if there is something wrong inside our code, at least

[2019-06-28 17:25] cep21 commented on #124
Yes

It wouldn't.

Are you proposing that all Go libraries that spawn non-trivial goroutines wrap the `go` function in defer/recover?  The majority do not.  It seems like every library would want this guarantee.

[2019-06-28 21:44] luluzhao commented on #126
@underscorenygren Updated our Go SDK README to better explain the Lambda use case. Feel free to open issues if you have questions in future.

[2019-06-28 21:44] #126 closed

[2019-07-04 00:00] luluzhao commented on #124
However, this is the decision we make when we design it. Something wrong happened inside `refreshTargets` or `refreshManifest`, it will die silently instead of stopping customer's application.

[2019-07-05 08:08] PaulLiang1 commented on #118
Any updates?
As a fee paying customer we had to remove go xray sdk from our projects as it's producing noise for all data race warning (we split some requests to run with data race detector)

[2019-07-10 14:36] davidhopkins opened #130 "Multiple subsegments, not sending"
Either I am misunderstanding subsegments or there seems to be a bug when you create more than one:

[code]
Results in *no* trace being sent to the daemon despite the logs indicating all is OK:

[code]
However if I remove subseg1 or subseg2 then it works just fine. Thoughts?

[2019-07-11 00:06] awssandra commented on #118
Hi PaulLiang1,

Sorry for the issues and the late response. The team is currently looking into this. We've identified a few similar issues in this regard and hope to have a more definitive root cause and fix shortly. We will post here with any investigation findings in the mean time.

Thank you for your patience,
Sandra

[2019-07-11 00:38] luluzhao commented on #130
Hi @davidhopkins , thank you for contacting us regarding your issue. The reason why it is not working is that the `ctx` you provide is not correct. In go sdk, all the segments/subsegments are injected into `context` to propagate. In your example, you created a segment called `s` and then injected it into `context.Background()`. Then the `ctx` contains the segment that you just created. However, in

[2019-07-11 06:39] zijima opened #131 "Password not removed when connecting to MySQL"
Hi,

I'm trying to open a new SQL connection this [required DSN format:](https://github.com/go-sql-driver/mysql#dsn-data-source-name):

However, the password section is not removed from connection string therefore i'm able to see the full DSN, including pwd, when i open traces in AWS XRay service Console.

Looks like [current code](https://github.com/aws/aws-xray-sdk-go/blob/master/xray/sql_test.g

[2019-07-11 17:30] davidhopkins commented on #130
Thanks for the help!

[2019-07-11 17:30] #130 closed

[2019-07-11 21:23] luluzhao commented on #131
@zijima thank you for contacting us regarding your issue. We will add this into our backlog and in the meantime, A PR is always welcomed.

[2019-07-16 01:33] fpruitt2 opened #133 "Support for fasthttp"
## Background
`fasthttp` is an alternative to Go's native `net/http` network library. It is written to be significantly more performant at scale; in some cases, it is ~10x faster than the standard library. It is used widely and is well-maintained.

## The Ask
It would be helpful if `aws-xray-sdk-go`  could work out-of-the-box with `fasthttp`. The interface in the request handlers is different enou

[2019-07-16 17:41] ss2305 commented on #133
@fpruitt2 We appreciate your input and will consider adding it to our roadmap.

[2019-07-16 17:47] fpruitt2 commented on #133
An acceptable alternative would be decoupling the tracking of a request's data from a specific http library-- being able to (easily) manually set up request tracking would be great!

[2019-07-16 20:07] ss2305 commented on #133
@fpruitt2 We would be happy to review any PRs if you want to contribute on this.

[2019-07-16 22:10] awssandra commented on #118
Hi PaulLiang1,

While we continue our efforts, please feel free to open a support case with AWS. We'd be happy to  help in any way we can.

Thanks,
Sandra

[2019-07-18 01:45] zijima commented on #131
It turns out that my DSN failed [url.parse](https://github.com/aws/aws-xray-sdk-go/blob/master/xray/sql.go#L42) because my password has characters like `[` and `]` which is treated as [invalid user info](https://github.com/golang/go/blob/master/src/net/url/url.go#L1102)  :(

i have a suggestion to handle the `net/url: invalid userinfo` error and remove password from the url

[2019-07-19 02:00] PaulLiang1 commented on #118
Hi @awssandra ,

A support case had been created
https://console.aws.amazon.com/support/cases?region=us-west-2#/6265603331/en

Thanks,

[2019-07-24 13:54] PaulLiang1 commented on #118
Hi @awssandra ,

Some code to help reproduce the issue can be found here
https://github.com/PaulLiang1/xray-data-race-reproduce

[2019-07-30 15:06] laverboy commented on #53
Is there anything that we can do to enable xray tracing of client calls using sdk-v2?

[2019-07-30 15:40] mastertinner commented on #53
There is a pretty up to date fork you can use in the meantime: https://github.com/medisante/aws-xray-sdk-go

The fork shows how easy it is to enable v2 in X-Ray without changing any existing code. Would it be an option to create a PR from that fork @luluzhao? After all, the v2 SDK has been out for quite a while now and can hardly still be considered a developer preview (it has seen multiple releas

[2019-07-30 21:10] yogiraj07 commented on #118
Hi @PaulLiang1 ,
Thank you for the repro. I am actively looking into this issue. Will keep you posted.

[2019-07-31 07:31] laverboy commented on #53
I seem unable to use that fork. It looks like the master version with the v2 code in it hasn't been tagged so go only gets the version before the v2 code was added.

So adding the v2 file to the original code base would be great.

[2019-07-31 07:49] laverboy commented on #53
Ok so for others who want to use the fork, I was being a bit dim earlier. You can just use

```go get github.com/medisante/aws-xray-sdk-go/xray@awsv2```

as a replacement. Until the add the code into the official branch.

[2019-07-31 08:17] mastertinner commented on #53
@laverboy, you can also just add the following line to your `go.mod` file:

[code]

From then on you can use it as `github.com/aws/aws-xray-sdk-go` in your code.

[2019-07-31 17:37] yogiraj07 opened #136 "Data race in Rule/Target Pollers"
# Issue
Data race condition
[code]
# Platform
1. Go - Version 1.11.4
2. X-Ray SDK version - rc.13

# Solution
[statistics](https://github.com/aws/aws-xray-sdk-go/blob/master/strategy/sampling/centralized.go#L447) variable should be inside `ss.manifest.mu.RLock()` to be thread safe due to `ss.manifest` read access by this variable.

[2019-07-31 18:55] zijima opened #137 "Broken tests with newer version(1.21.8) aws-sdk-go"
Current XRay SDK depends on `github.com/aws/aws-sdk-go v1.17.12`

https://github.com/aws/aws-xray-sdk-go/blob/master/go.mod#L5

when using v1.21.8, several tests in xray/aws_test.go failed, inlcuding:

 * TestAWS/AWSSessionWithWhitelist()
 * TestAWS/AWSWithWhitelist()
 * TestAWS/AWSSession()
 * TestAWS/AWS()

They all have same error:
[code]

[2019-07-31 22:29] Cyberax commented on #53
If you're interested, I've ported the whole XRay SDK to v2 version of the Go SDK, with normal Go modules. No more V1 dependencies!

Link: https://github.com/Cyberax/aws-xray-sdk-go

[2019-08-02 10:01] davidhopkins opened #139 "Dynamodb GetItem without context"
I am attempting to do something like the following:
[code]
which results in the following panic:
[code]

Realise I can use `dynamo.GetItemWithContext` and avoid this problem but it's surprising I cannot make non-context calls, to avoid tracing, when I want to. To provide a bit more context, there is a large codebase, all sharing the same db client and we want to phase tracing in over time so it's

[2019-08-06 17:26] luluzhao commented on #139
@davidhopkins , sorry for the late reply. In current design of AWS X-Ray SDK Go, we inject `segment/subsegment` information into `context` for propagation which means in order to create `subsegment`, sdk will try to find segment in the context. If it cannot find the segment, it will panic.

There is a way to suppress panic which called `ContextMissingStrategy`. The way how it works is that it will

[2019-08-08 01:47] Cyberax commented on #51
Guys, it's been a year so far. The fix is simple, just add a select{} statement that monitors a channel that is closed in segment.Close().

[2019-08-08 19:50] yogiraj07 commented on #51
Hello @Cyberax ,
Apologies for delay in solving this issue. I am happy to work with you and prioritize on solving it.  Can you post a PR for the above commit with unit tests.

Best,
Yogi

[2019-08-09 08:20] yezarela opened #141 "tx.Prepare undefined"
The error occured when I'm trying to use xray for SQL Transactions:
[code]
`Err: tx.Prepare undefined (type *xray.Tx has no field or method Prepare)`

Environment:
- Go version go1.12.1 darwin/amd64
- SDK version 1.0.0-rc.13

[2019-08-09 08:45] yezarela commented on #141
It seems that the issue is because `dep` dependency manager not installing specific version correctly; Overriding with master branch fixed it!

[2019-08-09 08:45] #141 closed

[2019-08-13 12:09] davidhopkins commented on #139
Hey Lulu! Yes and no it solves it. The panic is gone but now the logs are obviously now full of errors.

It seems odd there are two versions of most API e.g. `GetX` and `GetXWithContext` but only one of them is successful. Do you think it should be possible make calls e.g. `GetItem` without the library attempting to find the segment at all?

[2019-08-13 17:25] luluzhao commented on #139
@davidhopkins The `LogErrorContextMissingStrategy` is the way to catch the panic error and then log it instead of directly break the application. So yes, the logs will be full of errors.

 `aws-sdk-go` team designed two methods `GetX` and GetXWithContext` when they released v1 sdk and like I said in previous reply, `segment/subsegment` info is passed through `context`. There has to be a context to

[2019-08-14 03:58] abebars opened #142 "Failed to get segment"
I am trying to assign the user id to a trace, however `xray.getSegment` is returning nil if I didn't start a customer segment but if I started a customer segment it would be able to get it
Initialization
[code]
this is not working  , it's return a `nil`
[code]
this is working also here it's generating 2 traces
[code]

[2019-08-14 17:26] luluzhao commented on #142
Hi @abebars, thank you for contacting us regarding your issue. Currently, we X-Ray service doesn't support a segment contains `User` which means even sdk generates the segments with `user` but backend will drop that value. This is a bug in our Go sdk and we should remove it in our next release.

If you want to add `user_id` into segment, you can add it as either `annotation` or metadata` by using

[2019-08-15 03:55] abebars commented on #142
@luluzhao thanks for clarifying this. it makes sense now but when i create the segment my self and use `xray.AWS` over dynamo DB client it creates 2 traces, not one for each call , is that expected as well? or if there a way to combine both traces.

I am using it with lambda and here is an example:
[code]

and in `DispatchHandler` i created a new segment, now I see 2 traces each call one for dynam

[2019-08-16 14:52] abebars commented on #142
@luluzhao any update on this issue?

[2019-08-16 17:58] luluzhao commented on #142
@abebars If you are using Lambda function, please put all X-Ray related code inside lambda handler function instead of `init()`. How lambda integration works is that lambda will be responsible for creating two segments for customer and then inject trace header into `context` so that xray sdk could using it to create corresponding subsegments. `xray.AWS()` is for creating subsegments. Do not create

[2019-08-16 23:14] abebars commented on #142
@luluzhao I can do that, but inside lambda function when I tried to get the segment it failed as I already mentioned above?

[2019-08-16 23:50] luluzhao commented on #142
@abebars how we define a trace is that it tracks the path of a request through your application. Each request will have a trace associate with it. There is no segment inside lambda function only subsegment and that is why you cannot get the segment. Lambda only inject trace header information into `context` not segment. Could you tell me more about your use case except for creating segment inside

[2019-08-17 15:47] abebars commented on #142
@luluzhao SO basically, I want  to assign user information & metadata to each trace, I don't want to add this on the subsegment level but the upper level so we can look up this information in Xray UI

[2019-08-19 17:06] luluzhao commented on #142
@abebars , in this case, it's not possible for now to achieve this when you are using lambda function since like I mentioned above, lambda will generate the segments and sent it. There is no way to modify the segments that lambda generated. If you still need to use lambda function for your application, the only way I can think of is adding it into subsegments.

[2019-08-20 17:37] davidhopkins commented on #139
If the user story is that we want to instrument some call but not all is this the best way to do it? I am worried repeatedly/condtionally wrapping the dynamo client might be bad for performance etc.
[code]

[2019-08-20 21:35] GnatorX opened #143 "Need a method for creating new segment from existing segment but not the same context"
We need a method to create new segments off of an existing one (pass trace id + parentId) without using the existing context. The reason is because we have an async app which responses prior to the completion of the async process. This causes the context to be completed which then breaks xray when the async process completes and it tries to get the segment back out from the context.

[2019-08-21 00:04] luluzhao commented on #143
@GnatorX thank you for contacting us regarding your question. Based on your explanation, it seems like [NewSegmentFromHeader](https://github.com/aws/aws-xray-sdk-go/blob/master/xray/segment.go#L210) works for the case. You can use trace id and parent id to construct a new xray header and then creating a new segment based on that.

[2019-08-21 00:06] GnatorX commented on #143
Ah I see. Thanks

[2019-08-21 00:07] luluzhao commented on #139
You don't need to repeatedly wrap dynamodb client. You only need to do it once. After wrapping the dynamodb client, customers need to call GetXWithContext in order for xray to generate subsegment.

[2019-08-21 15:17] davidhopkins commented on #139
Thanks for the fast reply but I don't think you've understood my use-case fully. Specifically I need to be able to:

1. Call GetXWithContext
2. Call PutX (without context)

If I wrap the dynamodb client once then 2 will either panic or fill the logs with errors. I would like to avoid both of these and the only way I can see to achieve this is to conditionally wrap the client. Is conditionally wrap

[2019-08-21 18:22] luluzhao commented on #139
@davidhopkins Sorry I misunderstand your use case at beginning. Unfortunately, conditionally wrapping the client is the only way to do if you don't want to suppress the error by using context missing strategy as I mentioned before. It should be ok since SDK suppose to be very light from performance perspective when we design it.

[2019-08-21 20:16] #143 closed

[2019-08-28 14:15] vishalmodak opened #145 "xray for tracing kafka messages"
Hello,

I am trying to figure out how can use xray to instrument services that produce/consume kafka messages and have end-to-end tracing across event-driven flows.
This seems to supported in Java as illustrated by this post - https://aws.amazon.com/blogs/opensource/tracing-performance-messaging-applications-kafka-aws-x-ray/
However, we are using golang to develop our kafka services. So I have bee

[2019-08-29 01:17] vishalmodak commented on #145
@luluzhao thanks continuing to help me with this issue.
I enabled `debug` in the SDK as you suggested. Instead of running in docker, I am running the xray-daemon on the mac as well as service binary on my mac. **I dont think sdk is connecting to the daemon.**
Below are debug logs from SDK
[code]

Below are debug log from xray-daemon
[code]

Any thoughts?

[2019-08-29 16:59] luluzhao commented on #145
@vishalmodak Did you see the traces inside sdk logs? It will print the actual trace in json format if you enable debug log level. If you didn't see the trace, that means you sdk doesn't send the trace to daemon.

[2019-09-03 21:46] yogiraj07 commented on #136
This has been fixed in 1.0.0-rc.14 :  [changelog](https://github.com/aws/aws-xray-sdk-go/releases/tag/v1.0.0-rc.14)

[2019-09-03 21:46] #136 closed

[2019-09-03 21:48] yogiraj07 commented on #118
Hi @PaulLiang1 ,
This has been fixed in release 1.0.0-rc.14 :  [changelog](https://github.com/aws/aws-xray-sdk-go/blob/master/CHANGELOG.md). Please feel free to reopen the issue, if you have any questions.

Thanks,
Yogi

[2019-09-03 21:48] #118 closed

[2019-09-11 11:33] johdah opened #147 "X-Ray logs are very noisy"
We use an external tool to collect all our logs in a single place and pay per log line. Currently in the following example every line is it's own log line even if the message is the same. [DEBUG] is nice because that makes it easy to filter out and don't forward debug messages in our log lambda. But since only the first line includes debug and the json isn't combined into a single line.

So is it

[2019-09-11 17:05] luluzhao commented on #147
@johdah thank you for contacting us regarding your issue. Currently our Go SDK doesn't support print segment document into one line. We will add this into our backlog and in the meantime, a PR is welcome.

[2019-09-23 11:08] amwill04 opened #148 "sql - failed to being subsegment"
Unsure if this is an issue or the docs are a little unclear as when implementing `xray` with `sql` it `panics` with the following:

[code]

Using it as documented

The only way I seem to stop the `panic` is by utilising `beginsegment` is this the correct way to be doing this or am I missing something else?

Thanks

[2019-09-24 21:09] luluzhao commented on #148
Hi @amwill04 , thank you for contacting us regarding your issue. The reason why you seeing the error message is because in order to create subsegment for sql, there must be a segment in the context so that the subsegment can be created. All the operation related to SQL will be created as subsegment not segment. The way you are doing is correct which is manually creating a segment. There is another

[2019-10-09 23:15] f3nry opened #150 "Importing the xray library emits a log message by default"
Can this emitter be started without logging anything?

https://github.com/aws/aws-xray-sdk-go/blob/47895fdbd4ab0a5259a7cbeae73d0da10ded069d/xray/default_emitter.go#L54

[2019-10-10 05:07] #150 closed

[2019-10-10 05:07] f3nry commented on #150
We were on an old version. Upgrading to latest fixed this.

[2019-10-31 11:15] dvelop-swil commented on #50
@luluzhao: Hi i didn´t see any fix regarding this issue and still runing in to it on rc.14. Actually I have the same call to get a presign URI as @aleist, with a xray enabled client. In my case the same client is used to also make other calls with context like GetObjectWithContext. So disable xray isn´t really an option here. Did i miss something here or does it or will it not work in this scenari

[2019-11-04 21:54] GnatorX opened #151 "How to disable xray"
How do I disable X-ray for non-AWS environments?

[2019-11-05 06:28] ashish-lahane-compare-the-market commented on #50
Even I'm facing exactly the same issue.

go version go1.13.1 linux/amd64
github.com/aws/aws-xray-sdk-go v1.0.0-rc.14

[2019-11-06 00:40] ashish-lahane-compare-the-market commented on #50
Actually, today it's working fine. My machine rebooted and just clean-rebuilt everything and it worked. Yesterday, I think, the old and incompatible version of aws-xray-sdk-go must have been lurking around somehow.

Apologies for the trouble.

[2019-11-07 22:31] willarmiros commented on #151
Hi @GnatorX,
While the X-Ray SDK can be disabled in some other languages, it cannot be disabled in Go yet. We always welcome pull requests for new features and it is our goal to move the Go SDK from `rc` to production with feature parity to the other SDKs.

[2019-11-12 12:21] LeoAdamek commented on #51
Any update on this? It's quite a big issue as, even when I explicitly complete the context passed to the segment, there are still goroutines leaked. In an API the rate these leaks occur can be up to the every request.

In my case I've written a minimal middleware for Gin to handle tracing:

[code]

However, no matter what I try, there are still goroutines leaked for almost every request.

[2019-11-15 00:26] willarmiros commented on #50
Hi @dvelop-swil,
Are you having the same issue of getting a nil pointer panic? There was this [change](https://github.com/aws/aws-xray-sdk-go/commit/9a40d6bf6ff4417cc6558826a72913463800350a) to prevent panics from `nil` segments in `BeginSubegment` for AWS requests, but it doesn't check the context for being `nil`.

[2019-11-15 14:40] dvelop-swil commented on #50
Hi @willarmiros,

i get the following error Message. It just says that the segment could not be found, doesn't seem to be a nil error:

`failed to begin subsegment named 's3': segment cannot be found.: string
[
{
    "path": "github.com/aws/aws-lambda-go@v1.13.2/lambda/function.go",
    "line": 31,
    "label": "(*Function).Invoke.func1"
}
,
{
    "path": "runtime/panic.go",
    "line": 522,
    "

[2019-11-18 22:01] bhautikpip commented on #50
Hi @dvelop-swil,

As per my understanding we still do not have support for presign request. I will add this to our backlog.

[2019-11-18 23:47] bhautikpip opened #152 "Support for tracing presign request"
Currently, aws-xray-sdk-go does not provide support for tracing presign request. Presign URLs are used to get temporary access on objects (eg S3 object). Feel free to contribute!

[2019-11-21 06:07] jeffotoni opened #153 "Aws Lambda Golang Error runtime"
Hello people,

Suddenly the runtime error started ..
I'm using go1.13.4, but all other lambdas are ok.

Error:
"runtime error: invalid memory address or nil pointer dereference: errorString [{"path":"github.com/aws/aws-lambda-go@v1.13.3/lambda/function.go","line":35,"label":"(*Function).Invoke.func1"},{"path":"runtime/panic.go","line":679,"label":"gopan"

[2019-11-21 20:03] bhautikpip commented on #50
Hi @dvelop-swil ,

I understood your problem. Follow up question from my side.

1. It looks difficult to reproduce this issue from my end. Would you mind sending me more details about repro steps or may be a code snippet you are using for your use case or any code which can potentially reproduce context missing panic ?

2. Also, would you mind trying out setting this environment variables as key v

[2019-11-21 20:52] willarmiros commented on #153
I think you might have meant to leave your issue here: https://github.com/aws/aws-lambda-go/issues

[2019-11-22 16:37] jeffotoni commented on #153
Hi,
I found out what it was, the error was that I was trying to access an error without existing, with .Error ().

Thank you guys.

[2019-11-22 17:50] #153 closed

[2019-11-24 19:43] thecaddy opened #155 "lambda handler not sending segments"
Hi there,

I have spend hours trying to debug what is going on with the xray client, looking at the debug logs, all the segments and subsegments line up correctly but they never make it into xray.

I've tried `Close`, `CloseAndStream`, and `NewSegmentFromHeader`, they all fail to make it into xray.  I feel like there is something obvious I'm missing but I'm at a loss.  Additionally, udp send logs

[2019-11-26 01:59] dtarico-suplari commented on #51
Just had this impact a production deployment after we added xray.  This but has been open a year and a half and there's neither a fix nor a big warning in the docs.  Not cool.

[2019-11-26 16:04] dvelop-swil commented on #50
Hi @bhautikpip

1. I don't have a full working snippet but here are the steps I'am doing:

`
session, err := session.NewSession(&aws.Config{
		Region: aws.String(endpoints.EuCentral1RegionID)},
)
if err == nil {
	xray.AWSSession(session)
}

s3Client := s3.New(session)

req, _ := s3Client.GetObjectRequest(&s3.PutObjectInput{
	Bucket: aws.String(bucketName),
	Key:    aws.String(objectKey),
})
return

[2019-11-26 22:08] bhautikpip commented on #50
Hi @dvelop-swil,

I tried the attached code. I was not able to see any panic during the presign call. The lambda function executed successfully and x-ray tracing was enabled.

	sess, err := session.NewSession(&aws.Config{
        Region: aws.String("us-west-2")},
    )

    svc := s3.New(sess)

	req, _ := svc.GetObjectRequest(&s3.GetObjectInput{
        Bucket: aws.String("myBucket"),
        Key:

[2019-11-28 04:16] antonyggvzvmnxxcx opened #158 "Being paid for work"
I haven’t received any payment for working with GitHub’s

[2019-11-28 09:43] dvelop-swil commented on #50
Hi @bhautikpip,
in your case you define your own Segment with a Context thats not what iam doing. I activate xray on the session and so for every client has xray activated, your s3Client **svc** hasn't xray activated there for no panic occures.
Just activate xray on the session befor creating the client or on the client it self. e.g.:

[code]

[2019-12-02 18:17] bhautikpip commented on #158
might have opened the issue in the incorrect repo.

[2019-12-02 18:17] #158 closed

[2019-12-03 23:45] bhautikpip commented on #50
Hi @dvelop-swil,

Thanks for pointing this out. I have attached work around solution which will suppress the panic and will continue execute your function. I will submit a PR for this issue so that you can also set environment variable on lambda console as permanent solution to this issue. currently aws-xray-go-sdk does not support setting up AWS_XRAY_CONTEXT_MISSING environment variable on lambda

[2019-12-04 09:47] spezam commented on #57
Hi @haotianw465,
I mention you since you are an AWS Xray engineer.

I feel the issue, along with https://github.com/aws/aws-xray-sdk-go/issues/126 have been closed without providing a proper solution to integrate with Lambda.

In both case (xray.AddAnnotation() and xray.TraceID()) the suggested solution is to wrap these API calls in a placeholder Subsegment. While this works fine, I realized that

[2019-12-04 10:36] dvelop-swil commented on #50
Hi @bhautikpip,

setting the environment variable directly in the lambda worked. Thanks for the work around!

[2019-12-04 21:56] willarmiros commented on #57
Hi @spezam,

Unfortunately there are no such plans on our roadmap at this time. This is because the segments generated for Lambda environments are not created by X-Ray, they are created on the backend of the Lambda service in a way that is agnostic of any X-Ray SDK. This is to provide a language-independent way of enabling X-Ray active tracing on Lambda functions without mandating each function de

[2019-12-05 06:35] spezam commented on #57
Thanks for the detailed explanation @willarmiros.

I guess the empty Subsegment will have to do.

[2019-12-09 14:26] JakeKalstad commented on #51
Is there any foreseeable action on this issue? We're seeing massive memory leaks resulting in crashes in production upon release. The documentation for `Start a custom segment/subsegment` is either incorrect or incomplete as we are properly closing the segment and still seeing issues. After migrating from a background context to a `context.WithCancel()` we are still seeing the memory leak.

Thanks

[2019-12-09 18:03] bhautikpip commented on #50
Hi @dvelop-swil,

I merged the fix for it (https://github.com/aws/aws-xray-sdk-go/pull/161). Now you do not have to use work around and you can simply set the environment variable AWS_XRAY_CONTEXT_MISSING as key and LOG_ERROR/RUNTIME_ERROR as value on lambda console. One important thing to note is if you do not set anything then by default  value is LOG_ERROR. I am closing this issue. Feel free to

[2019-12-09 18:03] #50 closed

[2019-12-11 23:22] bhautikpip commented on #51
Hi @JakeKalstad,

Apologies for the inconvenience. We recently merged PR (https://github.com/aws/aws-xray-sdk-go/pull/156). This might fix some issues. Feel free to submit a PR or open an issue if you find any other source of memory leaks.

[2019-12-12 16:51] JakeKalstad commented on #51
Thanks for the quick response, we've confirmed that it has resolved our issue.

[2019-12-13 00:00] bhautikpip commented on #155
Hi @thecaddy,

It looks like your configuration is correct.

Follow up questions and suggestions from my side.

1. If you are not able to see traces on the xray console then where are you seeing raw trace data ?

2. It could be something with your aws cli configurations I would check that as a sanity check. Also I would check my lambda function policy. You have to attach AWSXrayWriteOnlyAccess Pol

[2019-12-13 00:10] thecaddy commented on #155
Thanks for getting back to me, the raw xray is coming directly from xray.

1. The log shows the data is being sent to xray, so I see the trace id and the subsegment id's.

2. Xray shows the trace of the execution lambda but nothing internal to the execution.  You can see I send the subsegments but they don't appear in xray and I am stumped as to why.  I use the node equivalent xray client and the

[2019-12-13 00:19] bhautikpip commented on #155
Hi @thecaddy,

Interesting. Do you see any kind of errors in the logs ? because it looks like data is being sent to xray. I am talking about the lambda function execution role you have to attach AWSXrayWriteOnlyAccess this policy to your lambda function execution role and enable xray tracing on lambda console. Do you see initialization subsegment on the xray console ?

[2019-12-13 14:31] thecaddy commented on #155
I don't see any errors in the logs.  I have debug log level on and what i have above is the most it gives me.  I agree everything looks like its behaving correctly which is why I came here as a last result.  I don't see any way to get logging of the request/response sent to the xray daemon that is supposed to be setup for lambda?  This is a mysterious black box so not sure if the issue may be ther

[2019-12-13 14:31] #155 closed

[2019-12-16 10:42] #26 closed

[2019-12-16 18:58] bhautikpip commented on #137
Hi @zijima,

Just wanted to follow up with you. Are you still experiencing this issue ?

[2019-12-17 19:26] bhautikpip commented on #11
Hi @luigi-riefolo,

We have merged this PR about logging interface (https://github.com/aws/aws-xray-sdk-go/pull/82). I think we still need to prioritize removing global mutable state and removing deep dependencies tree in Xray Go SDK design.

[2019-12-18 09:48] jonaslu opened #164 "Data race using the default localized sampling strategy"
Go xray version: v1.0.0-rc.14
Go version: go version go1.13.5 linux/amd64

Create a minimal http-server (copy paste the http-handler in the README.md)
[code]

Start the server with `go run -race main.go` and no xray-daemon running locally (will revert to localized strategy according to the docs:
https://docs.aws.amazon.com/xray/latest/devguide/xray-sdk-go-configuration.html#xray-sdk-go-configurati

[2019-12-18 18:36] bhautikpip commented on #164
Hi @jonaslu,

Thanks for opening this issue. I tried to reproduce this but I did not see logs like this. Follow up questions from my side.

1. What do you mean by hitting the server with some load ? where are you running this command ? (hey -z 30s http://localhost:8000).

2. Why do I see multiple go routines in the logs and both running the same script server.go ?

[2019-12-19 07:51] jonaslu commented on #164
Hi,

Hey (https://github.com/rakyll/hey) is a load-tester (you can use any load-tester - it's just to have some traffic om the server to invoke the race-condition). I'm running it in a terminal after starting the x-rayed server (`go run -race main.go`).

I know too little about the surroundings to fix it, but it happens here (when falling back to the localized sample strategy):
https://github.com/

[2019-12-20 18:31] bhautikpip commented on #164
Hi @jonaslu,

Thanks for pointing out this issue. I was able to reproduce those data race warnings. I will add this item in our backlog for reference and will address this issue.

[2019-12-21 16:49] #39 closed

[2019-12-21 16:49] #94 closed

[2019-12-21 16:49] #116 closed

[2019-12-21 16:49] #124 closed

[2019-12-21 16:49] #145 closed

[2019-12-21 16:49] #147 closed

[2019-12-21 16:49] #148 closed

[2020-01-06 14:25] luigi-riefolo commented on #11
@bhautikpip can we close this PR then?

[2020-01-06 18:28] bhautikpip commented on #11
Hi @luigi-riefolo,

I think we can keep this open as a reference point if that's okay.

[2020-01-07 10:14] victorsmirnov commented on #151
I think the easiest way to disable X-Ray is to provide an Emiter which does nothing. In this case everything is working normally but nothing is send to the daemon. And this is what I wanted from tests.

Please correct me if this approach has any issues.

The code is really simple. I have copy/pasted it from library tests.

[code]

Maybe we can also have a configuration option `TestMode bool` and w

[2020-01-09 17:34] michelaquino commented on #51
Hi @bhautikpip
Was this fix already released? The last version is `v1.0.0-rc.14` and do not contains the fix.

[2020-01-09 17:57] bhautikpip commented on #51
Hi @michelaquino,

This fix is yet to be released. This fix will not be in (v1.0.0-rc.14) this version.

[2020-01-09 22:27] bhautikpip commented on #51
Hi @michelaquino,

Just to keep you updated we are planning a release including this fix soon.

[2020-01-10 17:35] michelaquino opened #168 "Use of reflection probably cause performance issues on method segment.AddAnnotation"
Is this check of annotation value type really necessary?
https://github.com/aws/aws-xray-sdk-go/blob/master/xray/segment.go#L422-L426

The use of reflection could cause performance issues when this is used with high demand.
Make sense?

[2020-01-10 18:25] bhautikpip commented on #168
Hi @michelaquino,

As per my understanding that check of annotation is necessary. Can you suggest any other better ways to re write this logic without use of reflection ?

[2020-01-13 13:51] michelaquino commented on #168
The easy way to do this is create different methods to specific parameters type. Is this possible?

[2020-01-14 10:59] shogo82148 commented on #137
Tests in `xray/aws_test.go` still fail in my environment.
Here is my test log on f312997bc055adb8c06f91657b1abf42b071ecd4
The version of AWS SDK is v1.28.1.

[code]

I set the log level to debug, and ran test again.

[code]

the result is too long to paste here... please see my gist.
https://gist.github.com/shogo82148/80f1468535926483b32593ceb2fedb14

[2020-01-15 09:50] mousedownmike opened #175 "Large files cause panic with S3"
I have a simple service that pulls content from a URL and uploads it to S3.  For smallish files this works fine but for larger files, I consistently get:

`panic: failed to begin subsegment named 's3': segment cannot be found.`

I have created a [sample function that illustrates the problem](https://github.com/mousedownmike/aws-xray-s3-go-panic).  The README has the full panic output as well.

htt

[2020-01-15 19:59] mousedownmike commented on #175
I think this might be related to #152 .

Should this failure make that issue a bug instead of a feature request?  Basically the developer has no idea why calling the same API would succeed sometimes yet fail other times since the call to SignRequest is happening in the AWS Go SDK and not in the developer's code.

[2020-01-15 22:09] bhautikpip commented on #168
Hi @michelaquino,

It is possible since we are checking the value type. We really appreciate PR!

[2020-01-15 22:18] bhautikpip commented on #175
Hi @mousedownmike,

As per my understanding tracing presign call should be a feature request. I think you are receiving this panic because you might have started xray tracing on S3 session and it tries to capture presign call (because presign call gets object from URL) which is not aws sdk call so xray won't be able to trace that call and generates panic. However, if you want to continue executing

[2020-01-15 22:53] mousedownmike commented on #175
Hi @bhautikpip

I'm not sure I understand what you mean here.  Which part are you saying isn't an aws sdk call?

My point was that if the same API works sometimes but fails at other times purely based on the data passed to it, it would seem like that's a bug.  Maybe it's just semantics and unimportant, I'm just wondering how best to communicate this so others don't run into the same problem.

From

[2020-01-17 01:40] shogo82148 opened #180 "`TestOnePerSecond` in the sampling package fails very rarely."
`TestOnePerSecond` in the sampling package fails very rarely.

ref. https://github.com/aws/aws-xray-sdk-go/pull/177/checks?check_run_id=394402981#step:6:54

[code]

[2020-01-17 02:23] shogo82148 opened #181 "stripPasswords("pwd=") makes infinite loop"
Test code:

[code]

Log:

[code]

[2020-01-20 19:50] bhautikpip commented on #181
Hi @shogo82148,

Thanks for pointing out this issue. I was able to reproduce this. We might want to address this in go test cases fixing PR. I could come up with temporary work around.

[code]

[2020-01-20 19:54] bhautikpip commented on #180
Hi @shogo82148,

I was able to repro this one. We are still investigating on the cause of this issue. I am not able to repro this in my local machine but seeing this issue on git tests when tests are failing. It's very inconsistent in nature. We might want to address this in this PR (https://github.com/aws/aws-xray-sdk-go/pull/177).

[2020-01-20 22:37] mousedownmike commented on #175
Defaulting `AWS_XRAY_CONTENT_MISSING` to `LOG_ERROR` is the opposite of the default in the Java SDK.  I'm not sure how much consistency developers expect between SDKs.

Here's the documentation on the Java side:

https://docs.aws.amazon.com/xray/latest/devguide/xray-sdk-java-configuration.html#xray-sdk-java-configuration-envvars

[2020-01-20 22:49] shogo82148 commented on #175
FYI, the default of `AWS_XRAY_CONTENT_MISSING` is `RUNTIME_ERROR` in NodeJS, Python, Ruby and .Net

https://docs.aws.amazon.com/xray/latest/devguide/xray-sdk-nodejs-configuration.html#xray-sdk-nodejs-configuration-envvars
https://docs.aws.amazon.com/xray/latest/devguide/xray-sdk-python-configuration.html#xray-sdk-python-configuration-envvars
https://docs.aws.amazon.com/xray/latest/devguide/xray-sd

[2020-01-20 23:07] bhautikpip commented on #175
Hi @mousedownmike,

I was able to repro your issue. Can you provide your source URL of small files in which it's working ? looks like this handler (https://github.com/aws/aws-xray-sdk-go/blob/master/xray/aws.go#L60) receives empty unknown context and that's why it throws the panic you have mentioned. I am currently investigating on why that handler receives empty context. AWS_XRAY_CONTEXT_MISSING

[2020-01-21 00:16] mousedownmike commented on #175
@bhautikpip setting `SOURCE_URL` in that sample project I created to the following does not cause the panic:

https://blog.mikedalrymple.com/featured/gg-bridge-fog.jpg

[2020-01-21 00:54] bhautikpip commented on #175
Hi @mousedownmike,

I think I know why small files are not receiving panic. So basically when file is large S3 APIs upload data in parts and when file is small S3 API uploads single file. So upload function for smaller files does not use presign request (https://github.com/aws/aws-sdk-go/blob/master/service/s3/s3manager/upload.go#L378) where as multi part upload (https://github.com/aws/aws-sdk-go/

[2020-01-21 03:20] mousedownmike commented on #175
That sounds right, and I can confirm that these operations succeed when I use the latest code in master (i.e. with the `LOG_ERROR`) set as the default.

[2020-01-21 18:23] bhautikpip commented on #175
Yeah it is suppressing the panic and continue running your application.

[2020-01-22 10:52] sthulb opened #184 "bug: Logging outputs to many lines"
The built in logging reports a single JSON object over multiple lines. It should output this over a single line.

[code]

[2020-01-29 01:34] bhautikpip commented on #175
Hi @mousedownmike,

Based on my investigation Basically in this call (https://github.com/aws/aws-sdk-go/blob/6627e8938cdef5476dec0510b524258d3bf3983e/service/s3/s3manager/upload.go#L622) getReq call PresignRequest without passing context. since PresignRequest is a sign call it basically calls xray handlers and perform BeginSegment operation. Since it doesn't have a context passed on it generates t

[2020-01-29 21:00] bhautikpip commented on #180
Hi @shogo82148,

were you able to repro this in your local environment ? I am not able to repro this in my local environment to find out what the issue is. Let me know if you are able to repro this in your local.

[2020-02-04 13:42] kaihendry opened #189 "Xray instrumentation from Up"
Hi, I'm trying to trace a request with Xray from the context of https://github.com/apex/up

I know Up exposes Xray env like:

AWS_XRAY_CONTEXT_MISSING
    LOG_ERROR
AWS_XRAY_DAEMON_ADDRESS
    169.254.79.2:2000
_AWS_XRAY_DAEMON_ADDRESS
    169.254.79.2
_AWS_XRAY_DAEMON_PORT
    2000

Via https://count.webconverger.com/

But I'm unable to get it working. I keep hitting:

    Suppressing AWS X-Ray c

[2020-02-05 00:50] bhautikpip commented on #189
Hi @kaihendry,

I think you are trying to create a subsegment without creating a segment first. That is why you are getting context missing panic called segment can not be found. I have added one code example for your reference. This should resolve your issue.

[code]

[2020-02-05 02:49] kaihendry commented on #189
Great that works! Now I'm wondering why:

* URL
* Method
* Client IP

Are missing from the traces...

<img src=https://s.natalian.org/2020-02-05/1580870764_2560x1440.png>

I was also hoping to see [httptrace](https://pkg.go.dev/net/http/httptrace?tab=doc) level data like DnsStart & GotFirstResponseByte events.

[2020-02-06 00:53] bhautikpip commented on #189
Hi @kaihendry,

Yes you should be able to see httptrace level subsegments like connect, attempt, dns, dial, tls. I see you are running a lambda function. I think you are missing some code inside your lambda function. I have attached sample lambda function code for your reference.

[code]

[2020-02-11 06:19] martin-flower opened #192 "Reduce logging"
We have received complaints that our service is writing too much to the logs. Notably, can the service please stop logging :
`using daemon endpoints from environment variable AWS_XRAY_DAEMON_ADDRESS`
`Emitter using address`
which come from `aws-xray-sdk-go`

How is it possible to stop these?

[2020-02-12 00:33] shogo82148 commented on #192
Its log level is `LogLevelInfo`, so set the log level lower than `LogLevelInfo`.

[code]

[2020-02-12 01:31] bhautikpip commented on #192
Also, you can use logger section in README.MD (https://github.com/aws/aws-xray-sdk-go) to get more information about how X-RAY Go SDK implements logger.

[2020-02-12 06:02] martin-flower commented on #192
If I understand this correctly, if we set the log level to `Warn`, then we will lose the `Info` logging in our service?

In order to log at `Info` in our service, but not log `Info` in aws-xray-sdk-go, do we have to add logic to a custom logger?

[2020-02-12 17:55] bhautikpip commented on #192
Hi @martin-flower,

I believe if you set log level to `Warn` then you will not lose `Info` logging in your service. I think it will emit x-ray specific logging information and not your service specific. I have assumed you are not using X-Ray's default logger implementation in your service.

[2020-02-16 14:14] martin-flower commented on #192
Thanks for all the comments - I'll need to spend more time understanding custom logging, but meanwhile I'll set the level to Warn. This is the current code which I'm working with:

[code]

[2020-02-21 23:19] #168 closed

[2020-02-25 00:48] bhautikpip commented on #11
Hi @cep21,

As we are prioritizing this efforts, would you mind providing any code path where we can start addressing global mutable state concerns in XRay Go SDK ? Also, really appreciate for any design ideas to remove deep dependency tree.

[2020-02-25 21:10] #13 closed

[2020-02-25 21:10] #98 closed

[2020-02-25 21:10] #181 closed

[2020-02-26 21:16] bhautikpip commented on #192
Looks great! I am closing this issue for now feel free to reopen this if you still see any issue.

[2020-02-26 21:16] #192 closed

[2020-02-28 02:43] mousedownmike commented on #175
I don't think this should be allowed to be closed until there's a fix for it.  It seems problematic to have x-ray code that will fail depending on the size of a payload being sent using an S3 SDK call.

[2020-02-28 18:08] bhautikpip commented on #175
That's right. I will add this item in our backlog.

[2020-02-28 18:34] bhautikpip commented on #189
Closing this issue due to inactivity. Feel free to reopen this if you see any issues.

[2020-02-28 18:35] bhautikpip commented on #184
Merged this PR (https://github.com/aws/aws-xray-sdk-go/pull/185). So this should be solved. So, I am closing this issue feel free to reopen this if you see this again.

[2020-02-28 18:35] #184 closed

[2020-02-28 18:42] bhautikpip commented on #131
Hi @zijima,

We have recently merged one PR which solves this issue (https://github.com/aws/aws-xray-sdk-go/pull/169/files#diff-5bba2290697477468cb32ac08c47bd3aR733). So, I am closing this issue for now. Feel free to reopen an issue if you see any more issues.

[2020-02-28 18:42] #131 closed

[2020-02-28 18:50] bhautikpip commented on #8
Hi,

We have recently merged a PR (https://github.com/aws/aws-xray-sdk-go/pull/169) which implements custom SQL driver interface. So now there's a support for Sqlx database utility. So I am closing this issue. Feel free to reopen an issue if you see further problems.

[2020-02-28 18:50] #8 closed

[2020-02-28 19:00] bhautikpip commented on #137
Hi @zijima,

We have recently merged this PR (https://github.com/aws/aws-xray-sdk-go/pull/177). That should solve this issue. So, I am closing this issue. Feel free to re open if you see any more issues.

[2020-02-28 19:00] #137 closed

[2020-03-01 03:18] kaihendry commented on #189
There is no option to re-open.

Anyway, I'm using [Apex Up](https://github.com/apex/up) to run my lambda in order to avoid the proprietary `lambda.Start(Handler)` interface. But still the lambda http proxy I utilise should work, but it doesn't entirely.

So my earlier https://github.com/aws/aws-xray-sdk-go/issues/189#issuecomment-582216272 is still outstanding.

[2020-03-02 15:22] luigi-riefolo commented on #11
@bhautikpip @cep21 the library has significantly changed since this issue was created.
We first need to list all files that still have global states

[2020-03-02 16:48] cep21 commented on #11
I can't give input since i don't use the library anymore.  If you've made improvements,  that's great news!

[2020-03-02 18:18] bhautikpip commented on #11
Hi @luigi-riefolo,

Yes. That's a good starting point. We have tried to remove it wherever we can. That's why I have posted this question to seek feedback from library users to get some more pointers on where we see global states and removing from there would be a good idea.

[2020-03-11 00:22] bhautikpip commented on #189
Hi @kaihendry,

Would you mind providing repro steps ? Also, Have you tried running the code I have provide above on lambda function ?

[2020-03-11 01:30] sunao-uehara opened #203 "Track SQS in goroutine"
I am using xray to trace SQS in http handlers. It works fine when it runs synchronously. But when I use goroutine to run it asychronously, I get context Cancellation error because http request is done and context is canceled before finish sending sqs message.

Then I tried using xray.NewSegmentFromHeader() to create new context based on parent segment's header. but still I am getting same error, I

[2020-03-11 03:44] mlindes opened #204 "xray.SQL unable to handle db.SQL query string - fails with "sql: converting argument $1 type: unsupported type []interface {}, a slice of interface""
A query to an Azure mssql db began to fail with recent build of an app.
Running the query with `database/sql` library works well like:
[code]
Modifying to use with the db open to use the xray library with:
[code]
Running through SAM, returns the error:
[code]
Similarly, running the lambda in AWS logs this to cloudwatch:
[code]
Based on timing, this appears to be related to [pr169](https://github.c

[2020-03-11 05:11] bhautikpip commented on #204
Hi @mlindes,

which driver are you using ? I think it looks like you are missing args here. It should be something similar to like this.
`rows, err := db.Query(ctx, GenQuery, 1)`

I tried the below example with MySQL database and was able to trace the query.

[code]

[2020-03-11 05:45] shogo82148 commented on #204
my note:

This message is here.

https://github.com/golang/go/blob/fae87a2223e1fa959a20017742455200fe3c35f1/src/database/sql/convert.go#L194

[2020-03-11 08:06] swoldemi commented on #175
Just ran into this doing some late night experimenting:
CloudWatch logs:
[code]
Lambda function in question:
https://gist.github.com/swoldemi/2b473b6746b8936d3f59069174cee9db

go.mod:
[code]

[2020-03-11 17:40] bhautikpip commented on #203
Hi @sunao-uehara,

I think it looks like main goroutine completes its execution before the goroutine you have created. Since you are passing newCtx to spawned goroutine because of the main goroutine has executed there's no context. I think you should use go channels or waitgroups to address this issue so that main goroutine waits for other goroutines to execute and then execute the program.

[2020-03-11 17:53] bhautikpip commented on #175
Hi @swoldemi ,

Thanks for pointing this out. I think this is happening because aws-sdk-go code base creates multiple workers to download the object and calls aws-xray-sdk-go's handlers asynchronously. We are currently addressing the same issue with multi part upload. I will add this item in our backlog too.

[2020-03-11 19:01] mlindes commented on #204
Hi @bhautikpip .. sorry I didn't include my libraries..
[code]

The Query I'm working with only has one argument, and it's a string, so I set it ahead of time.
That said, I've broken it out & passing it in with `args` like
[code]

...I've tried several iterations of this, using backticks backticks, string converstions, limiting the query. I get the same error every time. I'd like to be able to for

[2020-03-11 19:07] mlindes commented on #204
Also worth noting... the [aws-xray-sdk-go](https://github.com/aws/aws-xray-sdk-go) README states:

..I've been unable to compile with `xray.SQLContext` .. I'm on `go1.13.4 linux/amd64`

[2020-03-11 20:01] bhautikpip commented on #204
I have released XRay Go SDK v1.0.0-rc.15 just now and it includes xray.SQLContext API. so now if you update the SDK you should be able to compile it.

[2020-03-11 20:59] mlindes commented on #204
This looks promising. It compiled, ran in SAM, deployed and now getting trace data visible in xray.
Don't see the db call in the service map yet, but the lambda runs only once every 20 mins per region.
I'll instrument a subsegment to help see what I want to see...

Thanks for the quick replies on this!

[2020-03-11 21:08] mlindes commented on #204
Just to include some fuller details for anyone looking...

[code]

[2020-03-11 21:11] bhautikpip commented on #204
Thanks for sharing this!

[2020-03-11 21:12] swoldemi commented on #175
Hello @bhautikpip. Thanks for the quick response. That makes sense. The number of errors are proportionate to the number of workers (unmarshal/attempt/s3 subsegments). Looking forward to the fix!

[2020-03-11 22:21] sunao-uehara commented on #203
Hi @bhautikpip ,

Thank you for quick response and suggestion, so conclusion is that I just need to wait `go func()` finishes like following code in order to keep context alive, right? So there is no way to let it run without waiting? The reason is that, in real code, I have heavy sql queries before sending sqs, so I don't want to wait it finishes and return http response to caller as soon as poss

[2020-03-11 22:58] bhautikpip commented on #203
Hi @sunao-uehara,

I think it depends on how you want to trace SQSSendMessage call. For example if you want to trace you heavy sql query and SQS call in one segment then you will have to pass the context and wait and if you want to create another segment for SQS call then you don't have to pass the context in the goroutine. Hope this makes sense!

[2020-03-12 00:21] sunao-uehara commented on #203
Hi @bhautikpip

I think I didn't explain properly, the heavy sql queries is in `go func()` right before `sqsClient.SendMessageWithContext(newCtx, input)`, so I don't want wait it and just return http response immediately.  I don't mind separating segment for SQS sendMessage and  segment for incoming request trace of `TestHandler`. Actually I thought that's only way to trace sqs in goroutine since

[2020-03-12 14:00] codingdiaz opened #205 "v1 Stable Release"
Is it at all possible to get a v1 non rc release for this package? Right now if you run a go get you get a 0 version which is not compatible with lambda.

[2020-03-12 16:56] bhautikpip commented on #205
Hi @codingdiaz,

As per my understanding if you run this command `go get -u github.com/aws/aws-xray-sdk-go` you should be able to get v1.0.0-rc.15. Moreover, we are prioritizing efforts to do v1 non rc release.

[2020-03-12 18:01] bhautikpip commented on #203
Hi @sunao-uehara,

I think xray.NewSegmentFromHeader() is designed to use internally. When we receive any upstream call handler will call this API and then internally this API will call xray.BeginSegment API. BeginSegment basically creates a segment for any upstream call to clear out the confusion about xray.NewSegmentFromHeader. Moreover, DetachContext() is more useful in the case of background t

[2020-03-12 20:26] mlindes commented on #204
@bhautikpip - just some follow-up fyi.
With the new rc, my linter complains about  two undefined vars: `emitter` and `streamingStrategy`
from [xray/config.go globalConfig](https://github.com/aws/aws-xray-sdk-go/blob/master/xray/config.go#L100-L110)

Otherwise, tracing is working as expected. Thanks again!.

[2020-03-12 21:11] bhautikpip commented on #204
Hi @mlindes,

can you post the warning msg ?

[2020-03-12 21:36] mlindes commented on #204
[code]

[2020-03-13 23:35] codingdiaz commented on #205
Awesome. To get this version I had to go get the specific version.

[2020-03-15 03:02] bhautikpip commented on #164
I am closing this issue since we have pushed out a fix for this issue in this release (https://github.com/aws/aws-xray-sdk-go/releases/tag/v1.0.0-rc.15). Feel free to open another issue.

[2020-03-15 03:02] #164 closed

[2020-03-15 03:06] bhautikpip commented on #99
I am closing this issue since we have pushed out a fix for this issue in this release (https://github.com/aws/aws-xray-sdk-go/releases/tag/v1.0.0-rc.15). Feel free to open another issue if you think it's not addressed.

[2020-03-15 03:06] #99 closed

[2020-03-15 03:07] bhautikpip commented on #51
I am closing this issue since we have pushed out a fix for this issue in this release (https://github.com/aws/aws-xray-sdk-go/releases/tag/v1.0.0-rc.15). Feel free to open another issue if you think it's not addressed.

[2020-03-15 03:07] #51 closed

[2020-03-18 08:22] sunao-uehara commented on #203
Hi @bhautikpip,

Thanks for explanation for NewSegmentFromHeader(), so I would use DetachContext() for background job for now.

[2020-03-18 08:22] #203 closed

[2020-03-19 17:12] copumpkin opened #208 "Using Xray with stscreds is difficult and awkward"
I realized I may have submitted this ticket to the wrong tracker, though it sort of feels like the issue spans both projects: https://github.com/aws/aws-sdk-go/issues/3213

Basically, I believe the base SDK doesn't store enough information (`AssumeRoler` in `stscreds` has an insufficient signature) for Xray to do the right thing here, but it might get more attention on this side.

[2020-03-20 21:12] bhautikpip commented on #204
Hi @mlindes,

I checked linter logs couldn't see this undefined warnings on my end.

[2020-03-26 17:28] bhautikpip commented on #180
Hi @shogo82148,

The root cause of this issue was we were utilizing current system time because of that For example, let's say we start on the incomplete second like 14:51:25.126302 then it will increase the taken value for this second as well as next second and for this second too (14:51:26.000002). We are measuring for 1.5 seconds overall in this test. That is why we were seeing fluctuation of t

[2020-03-30 20:32] bhautikpip commented on #208
Hi @copumpkin,

I was reading through the thread on this (https://github.com/aws/aws-sdk-go/issues/3213)  . Do you think this PR will be able to solve your issue ? (https://github.com/aws/aws-sdk-go/pull/3223). Since this PR introduced GetContext method and they are also working on the issue of propagating down the context.

[2020-03-30 21:33] copumpkin commented on #208
Probably! I'll test once that gets merged and see if it's more seamless

[2020-03-31 20:11] bhautikpip commented on #205
**NOTE to the XRay Go SDK customers:**

There was a customer ask that we shouldn't use init() method for plugins (https://github.com/aws/aws-xray-sdk-go/issues/38) because customers using SDK locally will be importing this. So, we will be removing plugins directory when we do stable GA release and after that customer will have to explicitly call the Init() method  for plugins which is inside awspl

[2020-04-10 19:35] dcu opened #217 "Data races on http.DefaultTransport with rc15"
[code]

[2020-04-10 19:45] bhautikpip commented on #217
Hi @dcu ,

would you mind describing your application setup and provide repro steps ?

[2020-04-10 20:23] bhautikpip commented on #217
Looks like data race is not happening within X-Ray SDK but when this goroutine (https://github.com/aws/aws-xray-sdk-go/blob/master/strategy/sampling/centralized.go#L206) tries to make a http request, this codebase from httpmock library changes the value of http.DefaultTransport (https://github.com/jarcoal/httpmock/blob/v1/transport.go#L716) .

[2020-04-10 21:22] dcu commented on #217
is there a way to disable xray so I can do that in my tests?

[2020-04-10 21:57] bhautikpip commented on #217
Hi @dcu ,

Sorry for the inconvenience. Currently we don't have support for disabling XRay. We have a pending item in our backlog to support this feature. Meanwhile I am looking more into this issue to see if we can provide any work around to avoid this issue.

[2020-04-11 23:51] mikeparker opened #218 "Support or be clear about lack of support for Lambda -> SNS -> SQS -> Lambda"
I've spent many hours trying to get Lambda -> SNS -> SQS -> Lambda to work in xray, and all my traces end with SNS, never going through to SQS and the next lambda.

My code is not very complicated.
[code]

AWS documentation says that SNS and SQS should automatically pass on the tracing header to the next lambda, and I can't see anything on my SQS queues configuration to enable tracing, it should j

[2020-04-12 12:10] srprash commented on #218
Hi @mikeparker
Yes, right now all the Lambda platforms do not support propagation of trace header from SQS to a lambda function. We are hard at work on it.

Yes, a lambda function with a golang runtime has the same limitation.

Yes, you are right about this as well.

We will be posting updates once this feature is supported. Please stay tuned.

Thanks

[2020-04-12 14:29] mikeparker commented on #218
Thanks for the quick reply @srprash. Good to know i'm not going crazy!

I know its hard to talk about release dates but we need to make a call about whether we're going to roll our own tracing system over the next few months, is this something that might arrive this year? Are we talking months or years roughly?

[2020-04-14 16:08] dcu commented on #217
maybe allowing to set my own transport or http client

[2020-04-14 16:31] bhautikpip commented on #217
Hi @dcu ,

That's a good idea I will look more into it to see if we can do that. Also, I'm currently working on disabling XRay Go SDK using environment variable (https://github.com/aws/aws-xray-sdk-go/pull/219). Let me know if this will be able to solve your issue. Would you mind trying this change out and provide your feedback ?

[2020-04-14 18:21] srprash commented on #218
Hi @mikeparker
Since we cannot openly talk about the release date, I have asked the AWS support to reach out to you with the information.

[2020-04-14 21:05] dcu commented on #217
I just did, setting AWS_XRAY_SDK_DISABLED to TRUE works and doesn't produce a race condition in my tests.

Still I think you should allow to set the http client since the default one is not great, pool size is too limited and timeouts are not configured by default

[2020-04-14 21:16] bhautikpip commented on #217
Hi @dcu ,

That's good to hear. Would you mind providing more details about http client approach you're talking about ? I want to understand more on that so that we can provide best possible solution to avoid this issue.

[2020-04-14 22:38] dcu commented on #217
from what I see, XRay is using the default HTTP client to send the data to its API. It'd be better if you expose a way to change that client so I can use my own configured client.

In the offical AWS SDK you can configure this when creating a session.Session by passing a aws.Config but it doesn't seem possible to do that with the xray SDK

[2020-04-15 20:24] dcu commented on #217
In your patch, if I disable xray would I still catch panics like this: `failed to begin subsegment named 'kinesis': segment cannot be found.` ?

[2020-04-15 20:31] bhautikpip commented on #217
No, Ideally you shouldn't receive those panics if you have disabled xray. Are you getting those panics ?

[2020-04-15 20:33] dcu commented on #217
no I didn't test that. My concern is not catching those in tests but later after deployment

[2020-04-16 17:59] bhautikpip commented on #205
Go SDK is now GA! I recently made a v1.0.0 release.

[2020-04-18 09:50] jamiecuthill opened #220 "Decouple `NewSegmentFromHeader` from package `http`"
Pre 1.0.0 we were using xray to trace our requests across our microservices using downstream header propagation over our event bus. Since 1.0.0 the `NewSegmentFromHeader` function that we were using to recreate the segment and add new subsegments now requires an http header which we do not have due to using a completely different transport.

What is the correct way to continue adding subsegments t

[2020-04-20 19:32] skaggmannen opened #222 "AWS requests hangs after a few iterations."
I have written a small test app to try and reproduce issues we saw in our X-Ray enabled Lambdas when upgrading from 1.0.0-rc.14 to 1.0.0.

Basically it seems that AWS requests hangs after 2-3 requests being made from the same Lambda instance causing the Lambdas to timeout. Exactly the same thing happens when running the following app:

[code]

Is this a bug introduced in 1.0.0 or am I doing someth

[2020-04-20 20:10] bhautikpip commented on #222
Hi @skaggmannen ,

Thanks for opening an issue. I tried repro code that you have provided with v1.0.0 and I was not able to repro the issue you mentioned. I was able to send all the traces to service and process exited with 0 code. If you can share the screenshot of the error you're receiving we might be able to find the root cause. Also, I would recommend you to try out different aws sdk call and

[2020-04-20 20:52] skaggmannen commented on #222
I have a solid repro case on this using the v1.0.0 tag and the program above.

I did some modifications to the test program to see stack dumps for all goroutines when the request hangs and found this:

`goroutine profile: total 8
2 @ 0x1037c60 0x10473c3 0x12d5adc 0x10647f1
#	0x12d5adb	net/http.(*persistConn).writeLoop+0x11b	/usr/local/Cellar/go/1.14/libexec/src/net/http/transport.go:2277

1 @ 0x10

[2020-04-20 20:53] skaggmannen commented on #222
You can find the full source for the test program here: https://github.com/skaggmannen/xray-test

[2020-04-20 21:24] bhautikpip commented on #222
Hi @skaggmannen ,

Sorry for the inconvenience. I was able to verify and reproduce this bug. You're right about the root cause of the bug too. Function should call seg.Unlock() before returning. I will create a PR for this fix as soon as possible. Thank you very much for this!

[2020-04-22 18:09] bhautikpip commented on #220
Hi @jamiecuthill ,

I believe `NewSegmentFromHeader` API can still be used to create segments if you pass nil to the header field but one more thing to keep in mind is that this approach will always defaults to localized sampling. I think facade segment would not help much in this situation because that is designed to address lambda use case and might not be helpful here. Can I get detailed workfl

[2020-04-26 22:40] #204 closed

[2020-04-27 13:29] duncancrawford commented on #222
@shengxil Any idea when this fix will be released?

[2020-04-28 02:57] bhautikpip commented on #222
Hi @duncancrawford ,

We will be prioritizing release including this change soon. As of now I might not be able to share the exact release date.

[2020-04-28 22:14] bhautikpip commented on #222
Hi ,

I recently released v1.0.1 (https://github.com/aws/aws-xray-sdk-go/releases/tag/v1.0.1) which includes fix for this issue (https://github.com/aws/aws-xray-sdk-go/pull/223). That should resolve most issues. Thanks for the patience! Resolving this issue now.

[2020-04-28 22:14] #222 closed

[2020-04-29 16:45] bhautikpip commented on #180
Fixed and released in v1.0.0 release so resolving.

[2020-04-29 16:45] #180 closed

[2020-04-29 22:06] crathjen opened #227 "Remove url query string from http segments"
We have an integration with an external api that forces us to put sensitive data into a query string.  We would like to be able to use the xray.RoundTripper to trace these http calls without having the sensitive data show up in our traces.

### Current behavior (v1.0.0)
raw subsegment contains query string:
[code]

### Desired Behavior
subsegment omits query string:

- http.request.url in the abov

[2020-05-06 22:51] #208 closed

[2020-05-17 11:31] dcu commented on #217
any news on this issue?

[2020-05-18 17:20] bhautikpip commented on #217
Hi @dcu ,

We still need to prioritize those efforts as you have mentioned (exposing a way to change default client while calling X-Ray API) in comments. I will put this item in our backlog. Meanwhile we have this PR ready to merge in (https://github.com/aws/aws-xray-sdk-go/pull/219). Let me know if you have any concerns about this PR and we can work accordingly.

[2020-05-25 16:24] cgstag opened #231 "Support custom database label for sql.db tracing"
Right now, when using `xray.SQLContext(driver,DSN)`, in order to open a DB connection with tracing, the DSN is parsed and the dbname of the DSN is used to inject into the Capture function, used under the hood to trace the calls.
Exemple in the QueryContext method :
[code]

However, in the case where two Databases hold the same dbname, but are different databases with different DSN (different host,

[2020-05-29 08:10] xrn commented on #218
Hi @srprash

Any update on this topic?

[2020-05-29 09:19] srprash commented on #218
Hi @xrn
The X-Ray team is working hard to get this support rolled out. We will update this issue once the feature is available.
Thanks for being patient.

[2020-05-30 06:23] #220 closed

[2020-06-03 17:18] bhautikpip commented on #231
Hi @cgstag ,

Thanks for opening this issue. We are looking into this issue to see what could be the best way to address this issue. Meanwhile if you have any ideas please post here so that we can also discuss that. Thank you for the patience!

[2020-06-04 13:38] alexbilbie opened #234 "Decouple `NewSegmentFromHeader` from package `http`"
This is a continuation of @jamiecuthill's question in #220. I believe we're in a similar situation.

We're currently using `0.9.4` (which is working great) and are looking to upgrade to the `1.x.x` release.

Each of our microservices passe a `seg.DownstreamHeader().String()` to the microservice it is calling.

At the moment, each of our internal microservice RPC handlers have code that is somethin

[2020-06-04 22:00] bhautikpip commented on #234
Hi,

Thanks for opening this issue. I think as part of the 1.x.x release we might have changed some of the code behaviors. I think as per your use case if you pass request as nil in 1.x.x version then it will execute this (https://github.com/aws/aws-xray-sdk-go/blob/master/xray/segment.go#L86) codepath and results in not respecting sampling decision (https://github.com/aws/aws-xray-sdk-go/blob/mas

[2020-06-08 21:37] bhautikpip commented on #227
Fix for this issue released in v1.1.0 so resolving.

[2020-06-08 21:37] #227 closed

[2020-06-11 11:39] alexcetto opened #238 "Long running job with a lot of api calls creates too many subsegments"
Hi, first time user of the aws-xray-sdk-go here.

I am using version aws-xray-sdk-go@v1.1.0 and go v.1.14.1.

I am developing an http server in fargate that runs a long task of producing a file. It may call hundred of times external APIs during the whole lifecycle of this task.

I am using xray to trace this long running job. The problem I see is that the main segment spawns too many subsegments a

[2020-06-11 12:47] alexcetto commented on #238
I manage to reproduce with a simple code. This is a very basic implementation of what my service does.
If you look at the HelloServer() handler, I use DetachContext because the long running task will run inside a new goroutine. This will trigger the behaviour where the subsegments won't be send and will pile up in memory.

[code]

[2020-06-12 23:01] bhautikpip commented on #238
Hi @alexcetto ,

Thanks for opening this issue. I will try repro code you have posted and get back to you with more updates on this issue! Thanks!

[2020-06-15 11:43] kamoljan commented on #27
@luluzhao it is already implemented?

[2020-06-15 20:44] bhautikpip commented on #238
Hi @alexcetto ,

I tried running above sample code. I was able to sent subsegments and was able to see one trace which contains segment named newsegment and lot of subsegments (basically http requests). I might not have changed anything on the above code. Is there any other setup required to repro this behavior ? I basically want to repro how DetachContext API results in not sending subsegments an

[2020-06-19 22:28] dfens1 commented on #218
thanks, @mikeparker - you saved me hours of wasted efforts!!

[2020-06-29 05:45] alexcetto commented on #238
Hi,

The sample code doesn't require any configuration. I ran it in local with localstack and it is running in two environment in ECS and the problem appears for all.
Did you manage to get any of the symptoms anyway?
To solve the memory problem, I replaced the DetachedContext with:

[code]

This is not the exact behaviour I am looking for but at least the memory usage goes down after the execution

[2020-07-06 06:56] Don-CA opened #240 "Unnecessary log messages when refreshing sampling targets"
When you have a reasonable number of X-ray sidecars there can be quite a bit of noise generated by the `refreshTargets ()` method in `centralized.go`, namely the message `Successfully refreshed sampling targets`.

This is not a useful log message and it should be a debug message.

PR incoming

[2020-07-07 23:36] #240 closed

[2020-07-08 18:25] bhautikpip commented on #238
Hi @alexcetto ,

I managed to get this [ERROR] write udp 127.0.0.1:60402->127.0.0.1:2000: write: message too long . I started looking into DetachContext API, this API basically get the current segment from the context passed. In the above example you are spinning up multiple goroutines so not sure DetachContext would be the right choice for this scenario.

[2020-07-20 16:32] kevioke opened #242 "xray.BeginSegment does not honor sampling rule"
Hi everyone. I'm currently trying to debug an issue where it seems like xray is sampling more requests than it should. I'm currently suspecting that my use of `xray.BeginSegment` is not properly honoring the custom centralized sampling rule that I've set up.

# Setup
package versions:
`go version go1.13.9 darwin/amd64`
` github.com/aws/aws-xray-sdk-go v1.0.1`

Custom centralized sampling rule with

[2020-07-20 16:56] bhautikpip commented on #242
Hi @kevioke ,

Thanks for opening this issue. Current behavior of xray Go SDK samples requests with default sampling rate if you use xray.BeginSegment API directly and not do any instrumentation. I believe that's why you're experiencing this issue. However I am working on a Pull request which doesn't do default sampling on  xray.BeginSegment API and probably solve your issue too.  Thanks for the p

[2020-07-20 17:02] kevioke commented on #242
@bhautikpip I would be OK with xray.BeginSegment using the **Default** sampling rule which I've set to sample with a low sampling rate. However, the issue for me is that xray.BeginSegment seems to be using **any** sampling rule which has a higher priority even if that rule has restrictive rules as shown in my example.

[2020-07-20 17:34] bhautikpip commented on #242
I see. I think this method (https://github.com/aws/aws-xray-sdk-go/blob/aa6a33f684fd0b1760ac6e9b0bf0590f0dfb9bad/strategy/sampling/sampling_rule.go#L33) basically returns true in your case and that's why it doesn't apply default sampling rule  and applied rules that you have set in AWS X-Ray console. If we take a look at this method closely it basically checks for host, request and method and if t

[2020-07-20 18:00] kevioke commented on #242
@bhautikpip thank you for taking the time to review this issue. Just to provide some more clarifications, I don't think the method you linked is the one that's being called. There are two such methods in the SDK, one for centralized rules and one for local rules. Correct me if i'm wrong, but I think it's actually this one which is for the centralized rule https://github.com/aws/aws-xray-sdk-go/blo

[2020-07-22 16:28] continuum-aditya-pingale commented on #145
i have gone through the above comments
all i get is something of this sort
![image](https://user-images.githubusercontent.com/52907319/88202205-2a804000-cc66-11ea-9e0b-5806f043a2be.png)

Why  is does it not show that the request is sent to kafka if am producing message to it
 https://aws.amazon.com/blogs/opensource/tracing-performance-messaging-applications-kafka-aws-x-ray/ as displayed in this ex

[2020-07-22 16:39] continuum-aditya-pingale opened #243 "xray for tracing kafka messages"
Hello,

I am trying to figure out how can use xray to instrument services that produce/consume kafka messages and have end-to-end tracing across event-driven flows.
This seems to supported in Java as illustrated by this post - https://aws.amazon.com/blogs/opensource/tracing-performance-messaging-applications-kafka-aws-x-ray/
However, we are using golang to develop our kafka services. So I have bee

[2020-07-24 19:35] bhautikpip commented on #242
Hi @kevioke ,

I see. looks like when you send a request using xray.BeginSegment API since Host, URL, Method, ServiceName and SeviceType fields might be empty and because of that AppliesTo method will return True and apply rule with higher priority and not default sampling. We would love to review your PR to resolve this.

[2020-07-24 22:49] kevioke commented on #242
@bhautikpip here's my proposal for a fix https://github.com/aws/aws-xray-sdk-go/pull/244. Appreciate the help with reviewing it.

[2020-07-30 01:43] cynicaljoy commented on #151
This was addressed in the latest release -- https://github.com/aws/aws-xray-sdk-go/pull/219

[2020-08-03 16:53] willarmiros commented on #243
Hi @continuum-aditya-pingale,

It appears you're on the right track. You seem to be instrumenting a Kafka producer. To see the end-to-end trace of your producer -> consumer on the X-Ray service map, you must also instrument the consumer code by parsing out the Trace ID, segment ID, and sampling decision from the trace header and beginning a segment with that data as described in that blog post.

A

[2020-08-03 21:30] #242 closed

[2020-08-03 23:46] bhautikpip commented on #151
Released in v1.0.0 so closing this issue. Feel free to re-open for any issues.

[2020-08-03 23:46] #151 closed

[2020-08-06 16:40] continuum-ajay-sahani opened #246 "Wrapping Aws-xray with gorilla mux"
Hi,
We have used gorilla mux (https://github.com/gorilla/mux) in our codebase as following:

router := mux.NewRouter().StrictSlash(true)
api := router.PathPrefix("/routes").Subrouter()
api.Handle("/version", WrapMethodHandler(http.MethodGet, rest.HandlerVersion))

type MethodHandler map[string]http.Handler
func WrapMethodHandler(method string, fn func(w http.ResponseWriter, _ *http.Request)) Metho

[2020-08-06 16:51] bhautikpip commented on #246
Hi @continuum-ajay-sahani ,

You should be able to trace upstream HTTP call using something like this.

[code]

In above example HelloServer() method is a function handler. So add any function handler method in place of
HelloServer() method.

Let me know if you have more questions.

[2020-08-07 05:15] continuum-ajay-sahani commented on #246
In this code snippet, how to mention HTTP method type (GET, POST,etc) for the handler ?

[2020-08-07 17:22] bhautikpip commented on #246
I believe you should be able to mention it in the http handler code. In the above example HelloServer() is the http handler. Whenever this path ('/') is being hit it will call the http handler and perform operations like GET, POST etc. I believe you can review the example in this thread (https://github.com/aws/aws-xray-sdk-go/issues/238) to get more clear idea.

[2020-08-08 04:57] atreyd opened #247 "What is the ETA for having X-ray auto instrumentation for GO SDK."
What is the ETA for having X-ray auto instrumentation for GO SDK.
Any plans to rollout the auto instrumentation for xray with  GO SDK.

[2020-08-12 06:42] continuum-ajay-sahani opened #248 "AWS recoder for Golang"
Hi AWS Team,
We are integrating AwsXray in our product which is written in Go, to do that we need to do code changes in our application, do we have any recorder(agent) so that we do not need to do changes in our codebase just like we have for Java and .Net application (Recoder).

[2020-08-12 16:12] bhautikpip commented on #248
Hi @continuum-ajay-sahani ,

Currently, we don't have an agent for Golang like we have in Java and .NET .

[2020-08-14 13:55] RafRabenda opened #249 ""Segment cannot be found" error druing tracing http call"
Hi,

I tried to trace HTTP call to coinpaprika API in Lambda. I used client from documentation:

`myClient := xray.Client(http-client)`

and put it to coinpaprika client as it request http client:

`coinpaprika.NewClient(xray.Client(http.DefaultClient))`

But I received following errors:

[ERROR] Suppressing AWS X-Ray context missing panic: failed to begin subsegment named 'api.coinpaprika.com': s

[2020-08-14 17:21] bhautikpip commented on #249
Hi @RafRabenda ,

Looks like you're not propagating the context when doing this `coinpaprika.NewClient(xray.Client(http.DefaultClient))` . Therefore, It leads to an issue of 'Segment can not be found' . If you see the below example we're basically passing segment's context while creating subsegment for http calls. I believe you might need to do that. Since we don't allow segment creation inside la

[2020-08-15 03:53] #238 closed

[2020-08-17 11:47] RafRabenda commented on #249
Hi @bhautikpip

Thank you very much for help, now is working as a charm. Maybe it would be good idea to put this information in AWS documentation, because I was following this page: https://docs.aws.amazon.com/xray/latest/devguide/xray-sdk-go-httpclients.html and I would have not guessed that I also have to use ctxhttp library.

Best,
Rafał

[2020-08-17 11:47] #249 closed

[2020-08-24 11:21] momotaro98 opened #250 "How to use aws-xray-sdk-go with gorm"
I'm trying to use aws-xray-sdk-go to capture SQL query issued by [gorm](https://github.com/go-gorm/gorm), famous ORM in Go community.

It seems that I need to create a sub-segment before issuing SQL.
Is there any better way in aws-xray-sdk-go?

[2020-08-24 16:50] bhautikpip commented on #250
Hi @momotaro98 ,

I'm not very much familiar with gorm. Looks like X-Ray Go SDK does not support gorm so it won't create automatic subsegment for any calls. So, you will have to manually create subsegment for this in order to trace any calls. However, If this a major use case for you and if you're interested then I can work with you to add a support for this. We love to review/comments/suggestions

[2020-08-25 20:13] cgstag commented on #231
Hello @bhautikpip , has this topic been discussed internally ?
I think the quickest / easiest way would be instead of using the `dbname` to just use the entire `dsn` or a combination of `host` + `dbname`. Another way is to provide another constructor with Options, and providing the display label as one of the options.

I tried to play around DSN parameters but not only is it dependant on the drive

[2020-08-26 20:45] bhautikpip commented on #231
Hi @cgstag ,

I agree with you. `dbname@host `looks simpler and makes sense to me. I looked at the implementation of [X-Ray Java SDK ](https://github.com/aws/aws-xray-sdk-java/blob/c8ad3c1454e5ff9c1da875b8fe15b5a855859dec/aws-xray-recorder-sdk-sql-mysql/src/main/java/com/amazonaws/xray/sql/mysql/TracingInterceptor.java#L129) and
[X-Ray .NET SDK](https://github.com/aws/aws-xray-sdkdotnet/blob/maste

[2020-08-28 10:11] laverboy commented on #53
On more on supporting v2 - this seems to be the number one reason why people are forking this repo. How long is V2 going to be in development?

[2020-08-28 17:38] aripalo commented on #250
I'd like to see Gorm support as well! 👍 Currently, I guess I'll have to figure out how to wrap the Gorm calls as subsegments.

To my understanding the issue with X-Ray + Gorm `v1` was that X-Ray requires access to `sql.Open` (or rather that the database needs to be opened with `xray.SQLContext`) which is not possible with Gorm `v1` as it does not support context. Related issues:
- https://github.c

[2020-08-28 18:01] aripalo commented on #250
**It might actually be possible now with Gorm `v2`** (released `2020-08-28`)!

To my understanding the issue with X-Ray + Gorm `v1` was that X-Ray requires access to `sql.Open` (or rather that the database needs to be opened with `xray.SQLContext`) which is not possible with Gorm `v1` as it does not support context. Related issues:
- https://github.com/go-gorm/gorm/issues/2288
- https://github.com

[2020-08-28 19:52] bhautikpip commented on #250
Hi @aripalo ,

Thanks for this suggestions. I looked into the code you posted. I believe we can use the below code for opening up a connection and that looks fine to me.

[code]

The only issue I'm concerned about is how to propagate context for any subsequent gorm API calls. I am assuming that we will be using `db` to call different gorm APIs right? So, In order to trace all the calls made with g

[2020-09-08 16:45] bhautikpip commented on #53
Hi,

[aws-sdk-v2](https://github.com/aws/aws-sdk-go-v2) is still in Developer preview (beta) version. I believe we would still want to wait for [aws-sdk-v2](https://github.com/aws/aws-sdk-go-v2) to go GA (generally available) before we merge any code to our official branch. Meanwhile, community can utilize posted recommendations in this thread. Those recommendations looks neat to me.

[2020-09-09 20:26] shubharao commented on #110
App Mesh customers are asking for this: https://github.com/aws/aws-app-mesh-roadmap/issues/256

[2020-09-11 03:17] #243 closed

[2020-09-14 01:51] #246 closed

[2020-09-20 03:25] #248 closed

[2020-09-22 11:01] mikeparker opened #251 "Add silent error option for AWS_XRAY_CONTEXT_MISSING"
Right now we use xray in a shared library, invisible to the consumer. Sometimes the methods are called outside of an Xray segment, for example for a long running container that might sit for days receiving messages, but uses some AWS calls (e.g. SSM) on boot, which will be outside of the trace.

Right now we have 2 options using AWS_XRAY_CONTEXT_MISSING:
1. Runtime error
2. Spam the log file

Idea

[2020-09-23 14:47] MatteoInfi opened #252 "Unable to trace AWS sdk clients in lambda"
I have enabled tracing for my lambda functions and I would like to instrument all the downstream calls done by the AWS sdk.
Following the docs: https://docs.aws.amazon.com/lambda/latest/dg/golang-tracing.html, I am not able to see any AWS service on the service map (**API Gateway and Lambda are showing normally**).
Instead I get this errors from CloudWatch:

[code]

This is an example of how I hav

[2020-09-23 15:58] shogo82148 commented on #252
You need to use `dynamoDBClient.GetItemWithContext` https://docs.aws.amazon.com/sdk-for-go/api/service/dynamodb/#DynamoDB.GetItemWithContext with an AWS Lambda context.
The document of the AWS Lambda context is here. https://docs.aws.amazon.com/lambda/latest/dg/golang-context.html

[code]

[2020-10-07 22:35] bhautikpip commented on #251
I think this is a fair ask. I am going to work on this and hopefully will have a pull request out soon.

[2020-10-08 20:46] bhautikpip commented on #251
Hi @mikeparker ,

I submitted a pull request to address this. (https://github.com/aws/aws-xray-sdk-go/pull/253). Can you confirm if this will solve your issue ?

[2020-10-12 17:58] srprash commented on #110
Hi @rvdwijngaard
We have this feature request added to our backlog. We would try to pull it in to work on as soon as possible.
Thanks for your patience and please stay tuned!

[2020-10-13 22:13] mousedownmike commented on #205
Can this be closed?  I get `github.com/aws/aws-xray-sdk-go v1.1.0` when I update.  Seems like this is fixed.

[2020-10-14 17:03] awssandra commented on #205
Closing out, thanks for the ping!

[2020-10-14 17:03] #205 closed

[2020-10-15 09:09] applike-ss opened #254 "responseCapturer should implement the http.Flusher interface"
Hello,

we are using xray in our projects and also gin-gonic to serve requests via a rest api.
Recently we wanted to add Server sent events to our projects which added the requirement to be able to flush the response writer, because otherwise the response would buffered instead of directly sent to the client after being rendered.
We diagnosed the responseCapturer to be causing this, as our logs st

[2020-10-15 10:19] applike-ss commented on #254
i just realized that there is already a patch in place in a newer version. closing the ticket.

[2020-10-15 10:19] #254 closed

[2020-10-16 18:53] mousedownmike commented on #74
In case anyone else gets here doing a search with `zerolog`, I've extended @jason-riddle's example to use Zerolog.

[code]
The Output is similar.

[2020-10-18 02:44] MatteoInfi commented on #252
@shogo82148 thanks for the heads up.
I just would like to say that this is undocumented in here: https://docs.aws.amazon.com/lambda/latest/dg/golang-tracing.html.
There is no mention of using context.

[2020-10-21 18:46] mousedownmike opened #255 "Intermittent ExceptionFromError Failures"
I've been hesitating opening an issue for this because it is so intermittent but it has appeared in both unit test runs and in production runs.   The fault occurs at various places in my code but it always stems from calling `xray.AddError(ctx, e)` in a manner similar to:
[code]
That is being called inside of a `go func()` that is part of a WaitGroup reading records off a channel (I've updated the

[2020-10-21 22:56] wangzlei commented on #255
Hi,
  Thanks for diving xray sdk. The code seems not safe because there might be race condition that more than one goroutines call `xray.AddError(ctx, e)` at the same time. Could you try to replace line `_ = xray.AddError(ctx, e)` to add `e` into another channel, then raise a new goroutine to poll Err from this channel and call `_ = xray.AddError(ctx, e)` ? by this way it makes sure no race condit

[2020-10-21 23:18] mousedownmike commented on #255
@wangzlei thanks for the reply.  Ok, that makes sense.  I don't think I get enough value from the additional error metadata in my X-Ray trace to go through that effort, I can easily extract that data from my logs.

Here's a quick question before I close this issue.  Are any of the SDK functions considered safe for concurrent use in Go?  I don't see anything in the docs one way or the other.

[2020-10-22 00:25] wangzlei commented on #255
Sorry that in doc we don't mention too much about sdk's concurrency safety. In goLang world by default we suppose the sdk is not concurrency safety and have to use Channel or lock to handle multi-threads case, unless explicitly say it is concurrency safety.

[2020-10-22 01:55] mousedownmike commented on #255
Thanks @wangzlei

[2020-10-22 01:55] #255 closed

[2020-10-24 04:12] mousedownmike opened #256 "Unit Testing Annotations"
In my unit tests, I'm trying to verify x-ray annotations are added to a Segment.  I'm having difficulty finding a reliable way to achieve this.  The code I have in this issue can also be found in this [minimal repository](https://github.com/mousedownmike/xray-unit-test).

The scenario this illustrates is:
- A handler function is called by some component that has already started a Segment (think La

[2020-11-02 18:41] bhautikpip commented on #256
Hi @mousedownmike ,

I really appreciate you providing detailed explanation. I was able to reproduce this issue and also was able to find the cause for this. So Basically, this is a sampling issue. When you are running your testing suite together it runs `TestMyHandler_Get` and it runs fine but it always fails in `TestMyHandler_Post` because at that time sampling value is `false` and because of th

[2020-11-09 22:02] JohnWu20 opened #262 "No in_progress flag generated when using the aws-xray-sdk-go to emit trace data"
From this [doc](https://docs.aws.amazon.com/xray/latest/devguide/xray-api-segmentdocuments.html#api-segmentdocuments-subsegments) the in_progress is a required flag. However, when I use go sdk to emit the trace data, there is not in_progress flag when it's false. This may be a bug for go sdk.

[2020-11-10 17:31] rclark opened #263 "Does the SDK respect DNS TTL?"
[code]

I have a container that's been throwing this error for the last hour or so. `172.31.133.144` is a stale IP address for the DNS name of my daemon service, which was used in the `xray.Configure()` step when the container launched. That DNS record has a low TTL (60s). Does the SDK respect and re-resolve DNS when TTL periods expire?

[2020-11-16 20:56] bhautikpip commented on #262
I think Go SDK scrap out the `in_progress` flag if `end_time` value is set and looks like this is expected behavior so I won't consider it as a bug.

[2020-11-16 20:56] #262 closed

[2020-11-23 23:25] bhautikpip commented on #263
Hi @rclark ,

Do you think SDK is using `172.31.133.144` to send data to X-Ray Daemon? I don't think SDK respects DNS TTL in the scenario you mentioned. Why this ip `172.31.133.144` becomes stale? Would you be able to explain how you're using X-Ray SDK with X-Ray daemon setup?

[2020-11-24 17:14] rclark commented on #263
I'm running the xray daemon on a set of ECS tasks, using AWS CloudMap as the discovery layer. Those ECS containers can stop for any number of reasons. It looks like the daemon resolves DNS once on bootstrap, but doesn't refresh after the DNS-defined TTL.

[2020-12-01 16:12] mousedownmike commented on #256
@bhautikpip ,

Thank you for the reply and sorry it has taken me so long to get back to this.  Following your direction, I ended up creating:

[code]

And I introduced it into my tests with:
[code]

When I do that I can successfully assert the values of annotations that are placed on the `ParentSegment` as I described in my original request. Ideally I would like to be able to leave the Annotations

[2020-12-06 15:41] sawadashota opened #265 "Can't run Github Actions due to deprecated set-env syntax"
I created PR #264 but all Github Actions jobs went fail because this project uses deprecated set-env syntax.
https://github.blog/changelog/2020-10-01-github-actions-deprecating-set-env-and-add-path-commands/

[2020-12-06 21:43] bhautikpip commented on #265
Sure. Thanks for creating an issue. I will submit a PR to address test case failures.

[2020-12-07 02:49] anuraaga opened #266 "Remove support for dep"
go modules have been stable for a long time and now widely used in the ecosystem. Our tooling will become much simpler if we go ahead and remove support for dep, for example #265 becomes trivial to solve by compressing our build down to a single command.

[2020-12-07 18:26] thomasritz commented on #250
Thanks for the hint to configure Gorm using the `instrumentedDB`.

FYI: As for propagating context, the following works for me. Maybe this code helps others, too.

[code]

Calling `FindSomeObject` (with a `ctx` that contains an already opened segment) results in a subsegment for `FindSomeObject` and nested subsegments for SQL related things.

The SQL details are viewable in the X-Ray console, but

[2020-12-10 16:34] corymhall opened #269 "Request duration in X-Ray doesn't match Lambda Console"
I'm seeing an issue where the duration shown in X-Ray doesn't match the duration of the request. I am using a Lambda function that reads from DynamoDB. Below is a screenshot showing the duration/billed duration on the Lambda console, along with a screenshot from the X-Ray console.

_X-Ray console showing 14ms duration_
![Screen Shot 2020-12-10 at 11 05 33 AM](https://user-images.githubusercontent.

[2020-12-11 00:35] #265 closed

[2020-12-14 22:32] bhautikpip commented on #263
Yes, @rclark I think the part of the reason you're seeing such logs could be because when new ECS containers spins up SDK still used the stale IP address that you had. As far as I know SDK doesn't support anything like this. This can be added to SDK as an enhancement. I will add this task in our backlog but meanwhile we do appreciate PRs :)

[2020-12-14 22:47] bhautikpip commented on #256
Hi @mousedownmike ,

I think if you add annotations at subsegment level then you should be able to validate those as well. Would you be able to post your repro code and the error you're receiving when you do that?

[2020-12-14 23:29] mousedownmike commented on #256
I guess my primary issue is that I don't understand how to access the Subsegments from the parent segment in my test code.
I would think something like the following line would work:

[code]

But that isn't valid.  Here are some updated code snippets that assume the `AlwaysSamplingStrategy` is in use and illustrate what works and where I get stuck.

 **`pkg/api/handler.go`** (see earlier issue for